[2016-07-19 12:52] amcdnl opened #61 "Honor declaration config"
It would be nice if the `declaration: true` flag would be honored in the output.

[2016-08-23 06:59] thisconnect opened #49 "base64 svg may end up in bigger size"
In this example of 2 data strings the base64 is bigger.

http://codepen.io/anon/pen/ZONxYR

Would it may make sense to not base64 svg?

[2017-10-19 02:36] Rich-Harris opened #14 "Don't add file extensions automatically"
_This issue was transferred from rollup-plugin-alias, which lacked an issue template_

---

Reviewing the various PRs for rollup/rollup-plugin-alias#11, I was struck by how much extra work is created for the sake of allowing users to do this...

[code]

...when they mean this:

[code]

In my view there's no good reason to support that. Extension-less imports is a bad habit encouraged by Node's ill

[2018-05-21 17:27] vladshcherbin opened #376 "Make error output nice"
Hey,

errors look bad compared to `rollup` or `babel cli`. Take a look:

1) Rollup error without babel plugin. Very minimal and clean:

![screen shot 2018-05-21 at 20 21 17](https://user-images.githubusercontent.com/6711845/40320528-b74c231c-5d34-11e8-9650-fa96af1e4c4b.png)

2) Babel cli error. Not minimal, a little messy:

![screen shot 2018-05-21 at 20 21 24](https://user-images.githubuserconten

[2018-08-24 20:07] skeggse opened #66 "Browser field regression"
rollup/rollup-plugin-node-resolve#127 introduced changes that broke our particular use of `pkg.browser`. We have packages that have a single import when used from node, but separate imports when used in browser modules.

For instance, let's say we have a `utils` module:

[code]

[code]

[code]

Which we use in two ways:

[code]

[code]

Because `string/index.js` isn't a real file, `resolve` fails

[2019-02-24 13:00] meteorlxy opened #70 "Wrong complierOptions when tsconfig in cwd is extended from another tsconfig"
For example:

[code]

Seems that `rollup-plugin-typescript` does not try to resolve the base tsconfig, so that the `compilerOptions` is not extended.

[2019-08-12 21:13] justinfagnani opened #375 "Update recommendations on compiling external dependencies"
I think the [advice to not compile external dependencies](https://www.npmjs.com/package/rollup-plugin-babel#external-dependencies) is a bit outdated and could use some clarification.

Native implementations of ES2015+ are now faster than down-leveled ES5 equivalents, and the code is smaller over the wire. This is _especially_ true with generators and async functions. Many native features, like ext

[2019-08-21 15:25] shellscape opened #1 "Repo Setup Tasks"
Tasks that have been identified as required to make this repository functional.

- [x] Copy `.github` from rollup/rollup and customize
- [x] Copy CI from rollup/rollup
- [x] Configure CI to only build tests from changed paths (this will be tricky)
- [x] ~~Install [rush](https://rushjs.io) and configure. Rush is the prevailing favorite for monorepo management. We'd like to give it a shot. Use of pn

[2019-08-21 15:34] shellscape opened #2 "Plugin Migration"
Below is the big-ass list of plugins that need migrating into this repo:

#### Done

- [x] rollup-plugin-alias
- [x] plugin-auto-install
- [x] rollup-plugin-buble
- [x] rollup-plugin-commonjs
- [x] rollup-plugin-dsv
- [x] rollup-plugin-image
- [x] rollup-plugin-inject
- [x] rollup-plugin-json
- [x] rollup-plugin-legacy
- [x] rollup-plugin-multi-entry
- [x] rollup-plugin-node-resolve
- [x] rollup-p

[2019-08-22 05:41] lukastaegert commented on #2
Would we want to mandate TypeScript for the Monorepo? I know this would severely slow down the migration, but in the end it would make the monorepo more consistent.

Missing from the list IMO: rollup-pluginutils

[2019-08-22 05:44] lukastaegert commented on #2
It would also mean that people can expect all @rollup/ plugins to have types. Alternatively we could say: Monorepo plugins should either be TS or at least have TS types, what do you think?

[2019-08-22 05:51] lukastaegert commented on #1
Sounds good!

What is the upside of using ava vs. using Jest except trying it out?

[2019-08-22 06:17] TrySound commented on #1
ava supports esm out of the box. Jest does not work with esm (loader) yet.

[2019-08-22 06:31] lukastaegert commented on #1
Good point. Though this will probably only become relevant when the minimum supported Node version is 12, unless we want to transpile all our tests. Which could actually be a viable option, Rollup tends to be quite fast for small code bases...

[2019-08-22 06:34] TrySound commented on #1
I mean ava uses [esm loader](https://github.com/standard-things/esm) out of the box. So you do not need setup them.

[2019-08-22 06:46] lukastaegert commented on #1
Ah, I misunderstood. Now that is definitely useful!

[2019-08-22 06:47] lukastaegert commented on #1
On the other hand a point for Jest would be that you can write your tests in TypeScript via ts-jest. Would this be possible with Ava as well?

[2019-08-22 06:56] TrySound commented on #1
https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md

[2019-08-22 11:33] wesleygrimes commented on #2
I think we should mandate TypeScript for all plugins. I need to get look at some of these plugins in more detail to get a feel for it, but we should be able to infer a lot of the types.

[2019-08-22 11:34] wesleygrimes commented on #2
I don’t like the idea of adding on types as these quickly get stale as new features are built and it’s another set of technical debt that must be maintained.

[2019-08-22 11:36] lukastaegert commented on #2
Definitely my preferred option as well.

[2019-08-22 11:37] lukastaegert commented on #2
If we go for TypeScript, I would also throw in the suggestion to use TypeScript in tests as well. Just another safeguard that tests do not become stale.

[2019-08-22 11:41] wesleygrimes commented on #2
Agreed! I’ve used Jest and Jasmine in the past. I prefer Jest, but it looks like everyone is preferring Ava here. I am fine with that if you all think it works well.

I do love how Jest has a lot of built in helpers like `test.each`, etc...

[2019-08-22 11:57] lukastaegert commented on #2
In the end, a lot of test are probably directory/sample based, meaning that the test file `fs.readFileSync`s a directory where each folder corresponds to a test and has a special structure, usually with a `_config.js` file for fine-tuning. For those tests, helpers provided by the test framework will not help anyway. We could of course attempt to change the structure of those tests so that the conf

[2019-08-22 12:07] wesleygrimes commented on #2
Cool, I’m good with that. I will trust your judgment on these things as I am newer to the rollup ecosystem. Looking forward to learning Ava to be honest. It looks nice and clean.

[2019-08-22 13:19] shellscape commented on #2
I would go so far as to say that I don't want to take on so much as to slow down this re-organization. That being said, a lot of these tasks can be delegated as long as we have a few folks poking at this (which it looks like we will). Converting non-TS plugins to TS should be the final step. No reason why plugins that don't already have tests (e.g. auto-install) shouldn't have theirs written using

[2019-08-22 13:23] shellscape commented on #1
I've been using ava on my projects for over a year now, and I have nothing but good things to say. I also like the snapshots _far better_ than what Jest produces. The result output after a run are cleaner imho, and more informative. Overall I find ava easier and quicker to work with. But that doesn't mean we _have_ to use it. I'd like to try it out and see how everyone likes it (or not). Sindre ha

[2019-08-22 14:20] wesleygrimes commented on #2
That's the great thing about TypeScript too, we can just rename the files to `.ts` and immediately "profit", then as we see fit start adding types.

[2019-08-22 14:21] wesleygrimes commented on #1
I'm good with giving it a shot, it wouldn't be that hard to migrate to Jest if we needed to.

[2019-08-28 03:07] dkumor opened #67 "Resolve breaks certain css files"
This looks like an issue with the interaction of resolve and postcss. Certain imported css files are included without an issue, but others disappear without a trace. Note that this happens *only* when using resolve (see details), so I have submitted it here. I hope that this is the right place for it!

The issue appears when trying to import vuetify's css with resolve and postcss.

- Node-Resolve

[2019-10-07 16:07] shellscape commented on #1
OK we're wrapped on this issue. Working in the `setup` branch at the moment. Going to break out the last task into a separate issue.

[2019-10-07 16:07] #1 closed

[2019-10-07 16:07] shellscape opened #3 "Core-Critical Plugin Script"
Create configuration and CI script(s) to identify core-critical plugins that should align with and adhere to the Node versions in the latest version of Rollup. These should prevent publish if out-of-line, and will prevent a plugin from jumping core's supported node version(s).

[2019-10-10 23:25] ryanfitzer opened #102 "The Result of `unwrapExports` is Never Assigned"
_This issue was transferred from rollup/rollup-plugin-commonjs, which had no issue templates_

I'm trying to bundle [`styled-jsx`](https://github.com/zeit/styled-jsx) with my React comment and getting errors resulting from the `unwrapExports` function being called but never assigned. Here is the abbreviated output:

[code]

As you can see, `unwrapExports(style);` is called, but never assigned to `

[2019-10-27 08:38] Andarist commented on #2
I would be interested in migrating rollup-plugin-babel (which I maintain) to the monorepo. I'm wondering if there is a plan to create a bot or smth that would ping "code owners" of the particular plugin? With many plugins inside a monorepo it might be harder to tackle all issues - I would like to focus mainly on babel-related ones but getting notifications about whole repo and filtering them on my

[2019-10-27 15:41] hikaruna opened #13 "define entries by function"
_This issue was transferred from rollup-plugin-alias, which lacked an issue template_

---

# future idea

[code]

## expect

same work

[code]

[2019-10-27 20:52] shellscape commented on #2
@Andarist wonderful. I'll add you to the Plugin Maintainers team shortly. Please follow the same pattern of opening a PR that we've been using so far. The process is still very manual at the moment. I and the other maintainers will be happy to pitch in on the effort.

We're planning on tagging issues with plugin-specific tags, and all issues templates require the associated plugin's name, so hopef

[2019-10-28 08:58] Andarist commented on #2
I'll get to migrating in the following weeks - need to wrap up some other OSS work now though and handle all issues/PRs in the `rollup-plugin-babel` before migrating.

[2019-10-29 01:38] guaijie opened #12 "use external"
_This issue was transferred from rollup-plugin-alias, which lacked an issue template_

---

![image](https://user-images.githubusercontent.com/30885718/67730239-6962cb80-fa2f-11e9-943e-d34ed13e8b3b.png)

expected:
[code]
actual:
[code]

[2019-10-29 13:08] btd commented on #2
@shellscape i can help with `rollup-plugin-inject`.

[2019-10-29 13:11] shellscape commented on #2
@btd that's great, thank you. I'll be adding you to the Plugin Maintainers shortly. Please follow the same patterns / procedures as the other Pull Requests for migrating.

[2019-10-30 02:26] ashi009 opened #16 "replace crashes when no values are given"
- Rollup Plugin Name: replace
- Rollup Plugin Version: 2.2.0
- Rollup Version: 1.25.2
- Operating System (or Browser):
- Node Version:

### How Do We Reproduce?

`replace({ values: {} })`

### Expected Behavior

replace nothing

### Actual Behavior

`"functionValues[match[1]]" is undefined`

### Root Cause

https://github.com/rollup/plugins/blob/14a4cc7c5091071dac17ba09f2a56a0f550263b9/packages/re

[2019-10-30 05:06] osdevisnot commented on #2
@shellscape I can help with `plugin-auto-install`. From auto install, here is the todo items filtered from your list:

- [x] Follow up on any open issues.
- [x] Follow up on any pending Pull Requests.
- [ ] Add note to the README about the move
- [ ] Disable issues and Pull Requests
- [ ] Assert there are tests
- [ ] Apply linting and clean the code
- [x] Update aged dependencies
- [ ] Remove unne

[2019-10-30 06:33] lukastaegert commented on #14
Another approach could be to use the `this.resolve` context function to resolve this. If someone were to use rollup-plugin-node-resolve, they get the resolution algorithm they know and love, otherwise just what is built-in. @Acionyx has been contracting me because he is working on a fork to do just that but I did not yet find time to have a look.

[2019-10-30 11:09] shellscape commented on #16
Thanks for opening an issue 🍺  Please don't omit sections of the issue template. All information is important for triage.

[2019-10-30 12:33] shellscape commented on #13
Thanks for the issue :beer: I'm afraid that we're going to need a better use-case to explain why this feature would be necessary or useful for other users.

[2019-10-30 14:58] ashi009 commented on #16
I did omitted some irrelevant sections on purpose as this issue is too easy to spot and fix. Both the root cause and the patch are provided, what’s the point for triage?

[2019-10-30 15:03] shellscape commented on #16
We ask all users to completely fill out the issue templates, as noted in the issue templates:

We hold maintainers and contributors to this as well. It's up to the maintainers and reviewers what information is relevant.

[2019-10-30 16:43] ashi009 commented on #16
Well, could you please enlighten me with the relevance here?

I already have the code patched locally, don’t care if anyone else run into
the same issue. Feel free to close the issue then.

Andrew Powell <notifications@github.com>于2019年10月30日 周三下午11:03写道：

--
Sent from Gmail Mobile

[2019-10-30 16:48] shellscape commented on #16
The relevance is that this is the repo's policy, and the Rollup org's policy on Github, and we ask that you keep that in mind and adhere to it in the future. We're not going to close the issue and we appreciate the PR you've opened to fix the bug.

[2019-10-30 16:56] santoshyadav198613 commented on #2
Anything I can help with?

[2019-10-30 17:07] shellscape commented on #2
@santoshyadav198613 absolutely! If you'd like to help migrate a plugin, please choose one in `Pending` and follow the same pattern as our other migration Pull Requests (#6, #7, #11 or #15)

[2019-10-30 19:24] santoshyadav198613 commented on #2
Thanks @shellscape ,
I will start with plugin-auto-install.

[2019-10-30 19:35] shellscape commented on #2
Great, I'll mark it down above.

[2019-10-30 20:46] santoshyadav198613 commented on #2
@shellscape will take rollup-plugin-commonjs next

[2019-10-30 20:53] Acionyx commented on #13
Hi. You may check https://github.com/Acionyx/rollup-plugin-module-replacement, it provides such mechanism.

[2019-10-31 15:21] #16 closed

[2019-10-31 15:36] shellscape opened #24 "Monorepo: Seamless Package Publishing"
- Rollup Plugin Name: n/a
- Rollup Plugin Version: n/a

### Feature Use Case

To publish a module in the monorepo at the moment, we have to manually perform the following tasks:

- merge relevant pull requests (this step won't go away)
- change the package version appropriately
- update the changelog manually from commits
- run `pnpm run publish -- <name>`

### Feature Proposal

I'd like to work s

[2019-10-31 16:04] lufego opened #39 "Provide a `safeLoadAll` option"
Hi, I have a stream which has multiple documents inside e.g:
[code]

in the plugin you have:

[code]

but this causes this error when loading my file `(plugin yaml) YAMLException: expected a single document in the stream, but found more`.

For my workflow I need an option to have it loaded as

[code]
This will load both single and multiple document streams

thanks in advance 🙌🏻

[2019-10-31 18:32] lukastaegert commented on #24
Hi @shellscape, thanks for your awesome work and taking the initiative on this, I am a big fan of automating this.

I know I have been opposed to this for Rollup core, the reason being that
* I do not really like it
* Its main usefulness lies in automated changelog generation, which at the moment I prefer to do at least partially by hand as I find it leads to a better changelog. Also with the squa

[2019-10-31 18:33] lukastaegert commented on #24
At least I think that is the case, did not dive too deeply into conventional-changelog TBH

[2019-10-31 19:05] TJKoury commented on #24
FWIW, I get the desire to use a monorepo, but it does feel a little strange having a plugin tell me what package manager I have to use.

[2019-10-31 19:06] shellscape commented on #24
@TJKoury I don't understand the concern - the plugins aren't telling anyone which package manager to use.

[2019-10-31 19:11] TJKoury commented on #24
@shellscape `To begin, please install pnpm:`.  So you can do all those steps with npm & yarn as well?

[2019-10-31 19:14] shellscape commented on #24
@TJKoury I think this misperception might be chalked up to a lack of experience. (This is also not the correct place to comment on the concern, since it's very off-topic.)

The text you quoted is beneath the `Contributing` section on the root README. That means it's _part of the instructions for contribution to the repo_. Plugins are not telling people what package manager to use, but if you want

[2019-11-01 10:53] Andarist commented on #24
I've started to love changesets - https://github.com/atlassian/changesets/ - for automatic publishing. It allows you to enforce~ a changelog entry (with appropriate version bump) as part of the PR. It's IMHO great as it:
- allows a changelog entry to be reviewed like every other part of the committed code (committer is sort of responsible for writing such entry)
- can be easily added/edited from G

[2019-11-01 11:44] TJKoury commented on #24
@shellscape I know very well that it’s under the ‘Contributing’ section.  I contribute to projects I use so that the changes can be rolled into the baseline, as a good open source developer should.

Rather difficult to do if I have to add a new package manager into my workflow for a plug-in.

[2019-11-01 13:40] lukastaegert commented on #24
@Andarist great suggestion, looking into the documentation, changesets looks really nice!
Especially love the Github bot.

At the moment, there will not be a lot of dependencies between plugins but this may change in the future. I hope that at some point, we can have a simple format for "preset" plugins that add and configure options and several plugins together for specific scenarios, and then th

[2019-11-01 13:45] Andarist commented on #24
Yes - without dependencies between plugins I would just make it autopublish stuff from master each time smth lands there. No reason for „release PRs” prepared by a bot

[2019-11-01 13:50] shellscape commented on #24
I'm actually a fan of release PRs. They tend to prevent the "oh crap I forgot some metadata, time to publish another patch version" kind of misfires. I'm definitely going to look into changesets very soon.

[2019-11-01 22:21] Andarist commented on #24
They definitely won't hurt much - I just think that with a such "distributed" monorepo as here they might be a little noisy. I guess they are a good starting point though anyway until you get used to changesets workflow.

[2019-11-04 04:30] santoshyadav198613 commented on #2
Hi, @shellscape  As the earlier plugin is already deprecated will start working on rollup-plugin-commonjs please add it on my name.

[2019-11-04 08:34] rdmurphy opened #26 "@rollup/plugin-replace has larger install size than rollup-plugin-replace"
- Rollup Plugin Name: @rollup/plugin-replace
- Rollup Plugin Version: 2.2.0
- Rollup Version: 1.26.3
- Operating System (or Browser): MacOS
- Node Version: v10.17.0

### How Do We Reproduce?

Hello! 👋 I noticed (for reasons I don't quite follow) that the install size for the replace plugin has seemingly ballooned after getting moved into the monorepo. Before the move it was a cool [2.64 MB](https:

[2019-11-04 08:50] lukastaegert commented on #26
Apparently there is now an (implicit?) dependency on TypeScript: https://npm.anvaka.com/#/view/2d/%2540rollup%252Fplugin-replace

[2019-11-05 11:04] thgh opened #27 "Alias plugin is not compatible with rollup-plugin-alias"
- Rollup Plugin Name: alias
- Rollup Plugin Version: 2.2.0
- Rollup Version: latest
- Operating System (or Browser): unix
- Node Version: 12

### How Do We Reproduce?

Add `alias({ src: __dirname + '/src' })` to rollup plugins

### Expected Behavior

`import 'src/util.js'` works

### Actual Behavior

[code]

The API change in plugin-alias@2 breaks the old behaviour for no apparent reason. It's per

[2019-11-05 12:08] colesico opened #28 "alias.resolve doesn't work for svelte 3"
- Rollup Plugin Name: @rollup/plugin-alias
- Rollup Plugin Version: 2.2.0
- Rollup Version: 1.26.0
- Operating System (or Browser):  os win 10 firefox
- Node Version: v10.13.0

### How Do We Reproduce?

rollup config:
[code]
### Expected Behavior
  UiAlertTag  shoud be imported
[code]
### Actual Behavior

[!] (plugin Rollup Core) Error: Could not load src/core/widget/UiAlertTag (imported by c:\MyP

[2019-11-06 07:52] colesico commented on #28
this works as expectd.
[code]

[2019-11-06 07:52] #28 closed

[2019-11-06 18:07] Rich-Harris commented on #26
Fixed in 2.2.1 — thanks

[2019-11-06 18:07] #26 closed

[2019-11-06 18:19] shellscape commented on #27
@thgh The tone of this one could be a little more friendly. The change was debated and discussed by @thiscantbeserious, @Andarist, and @lukastaegert - hardly one user. I'd argue it was up for a reasonable amount of time for discussion as well. From what I understand, the API changed, but the functionality remains.

[2019-11-06 18:51] thiscantbeserious commented on #27
Maybe think about it like this instead:

Its way sadder that a developer feels the need to demand an change for an Open-Source project that he seemingly knows the perfect solution for neither provides the code noir takes part in the discussion of the PR that tries to fix this.

Apart from that - on a more neutral level:

Why don't you stick with V1?

[2019-11-06 23:24] Andarist commented on #27
The reason for a change was simple - we believe that this is a better API than what was present in v1. It was hardly for "no apparent reason" - v2 was intentionally published as a major version and thus breaking changes are expected.

[2019-11-07 01:44] shellscape commented on #27
@thgh has done a lot for Rollup over the years, so I highly doubt the concerns are conveyed with ill intent. I'd ask everyone commenting take that into consideration. I didn't tag everyone with the intent to cause a pile-on, rather to further discuss the changes that were made.

I'd be interested to know if there's middle ground here.

[2019-11-08 23:08] thgh commented on #27
First of all, sorry for the tone of the issue. I think it's fantastic that you all take the initiative to maintain many plugins. Also, I'm definitely not trying to point fingers (even though I see now that it looked that way). It's more that I'm concerned about the stability of the Rollup plugin ecosystem.

Another concern is that tons of developers have struggled to configure webpack. Requiring t

[2019-11-09 00:43] thgh commented on #2
I'm interested in migrating node-resolve, PR incoming

[2019-11-09 12:17] Dan503 opened #68 "Error: Could not load [object Object]"
- Node-Resolve Plugin Version: 5.2.0
- Rollup Version: 1.27.2
- Operating System (or Browser): Windows 10
- Node Version: 12.13.0

### How Do We Reproduce?

Reproduction steps are outlined in this reduced test case repo:

https://github.com/Dan503/BUG-rollup-plugin-node-resolve/tree/master

Note this part of gulpfile.js in particular:

[code]

### Expected Behavior

It should not error

### Actual

[2019-11-10 14:34] shellscape commented on #2
@thgh many thanks for that!

[2019-11-12 15:43] hikaruna commented on #13
@Acionyx oh... It seems good. Thanks.

[2019-11-12 15:43] #13 closed

[2019-11-15 17:04] Vehmloewff opened #71 "Error: [type] is not exported by [file]"
_(This issue was transferred from rollup-plugin-typescript and had no issue template)_

This code:

[code]

Throws this error in the console:

[code]

Is there any workaround or fix for this?

[2019-11-17 03:42] pnevares commented on #2
I'd love to help migrate `rollup-plugin-url`!

[2019-11-17 07:38] wuweiweiwu commented on #2
I can pick up `rollup-plugin-commonjs` and add `rollup-plugin-terser` to this list! cc @TrySound

[2019-11-17 10:32] TrySound commented on #2
I'm still processing this.

[2019-11-17 12:53] shellscape commented on #2
@wuweiweiwu that would be wonderful, thank you.

@TrySound no rush my friend 👍

[2019-11-17 14:38] gawlk opened #37 "plugin-alias: Resolve isn't applied on all imports"
Hi !

So, I can't figure out if it's a normal behavior or not but like I said in the title, not all paths are  resolved by the `@rollup/plugin-alias` extension.

- Rollup Plugin Name: alias
- Rollup Plugin Version: 2.2.0
- Rollup Version: 1.27.0
- Operating System (or Browser): Mac OS Catalina, Firefox 70
- Node Version: 13.1

### How Do We Reproduce?

Here's an example:

My configuration of the `

[2019-11-17 14:51] shellscape commented on #37
Hey @gawlk, thanks for opening an issue. Normally we'd nuke your issue because it contains a number of problems, but since it looks like you might be new to Github, I'd like to outline what's wrong so that you'll have success moving forward:

- Issue templates on Github aren't generally considered optional
- Maintainers take great care in putting templates together to not only help users more effi

[2019-11-17 15:24] gawlk commented on #37
Well, I'm not sure if this is a bug or not but thank you for keeping my issue.

There is not much to add to the `How Do We Reproduce?` part. My whole problem is that the plugin doesn't resolve the paths that aren't being processed in the `entries`.

In a nutshell, it doesn't automatically add the extension to relative paths.

[2019-11-17 15:36] shellscape commented on #37
I believe you missed some important parts of my reply there. If you're unable to put together a proper reproduction, we'll have to close this one.

[2019-11-17 15:51] gawlk commented on #37
Here's a simple repository: https://github.com/gawlk/svind

Like I said I don't do anything complex or weird, I'm just asking if this is a normal behavior

[2019-11-17 16:03] shellscape commented on #37
I'm sorry, but I'm going to have to close this issue. I've tried several times to guide you in the right direction. While the repo link is appreciated, it's nowhere near a minimal reproduction as linked to above, and mentioned several times. If you'd still like to report this as a potential bug, please create a new issue go through the proper template (Bug Report), fill it out in its entirety, rea

[2019-11-17 16:03] #37 closed

[2019-11-18 12:59] Shriram-Balaji commented on #2
@shellscape  I'd like to help migrate ` rollup-plugin-run`

[2019-11-18 13:06] shellscape commented on #2
@Shriram-Balaji please do!

[2019-11-18 19:29] FedericoCarboni opened #42 "Plugin Strip is incompatible with TypeScript plugins"
- Rollup Plugin Name: Plugin Strip
- Rollup Plugin Version: 1.3.1
- Rollup Version: 1.27.2
- Operating System (or Browser): Windows 10
- Node Version: 12.13.0

### How Do We Reproduce?
Create a new project, install rollup, @rollup/plugin-strip, typescript and rollup-plugin-typescript2 (or rollup-plugin-typescript). Create `rollup.config.js` and add a minimal configuration which includes any typesc

[2019-11-18 19:34] shellscape commented on #42
Please consult the issue template for instructions on providing a proper reproduction.

[2019-11-18 19:36] #42 closed

[2019-11-18 19:42] wesleygrimes commented on #42
@FedericoCarboni Can you please post a GitHub repository link that demonstrates the issue you are having? It needs to at least have:

- `input.ts` file with `console.log()`
- `package.json` containing the applicable dependencies
- `rollup.config.js` file as you mention above
- `output.bundle.js` file that is generated incorrectly as you state

Also, provide the exact command you are running to run

[2019-11-18 20:15] NotWoods commented on #2
@shellscape I can work on migrating rollup-plugin-legacy

[2019-11-18 20:15] shellscape commented on #2
@NotWoods perfect. The recent `yaml` plugin PR is a great benchmark to compare against.

[2019-11-19 17:20] zthxxx commented on #42
same issue

[2019-11-19 17:40] zthxxx commented on #42
@FedericoCarboni

plz try this below, it's work for me

[code]

[2019-11-20 01:07] panoply opened #44 "Provide option to strip comments from JSON files (JSONC)"
- Rollup Plugin Name: @rollup/plugin-json
- Rollup Plugin Version: 4.0.0

### Feature Use Case

Comments in JSON are a thing. While one can strip comments from JSON files before passing contents to the json plugin it would be nice if the plugin provided this an option for convenience sake.

### Feature Proposal

You could leverage the [strip-json-comments](https://github.com/sindresorhus/strip-jso

[2019-11-20 19:09] chovy opened #48 "plugin not found on npm"
[code]

[2019-11-20 19:41] shellscape commented on #48
We'll look into this. Next time you create an issue in this repo, please choose an appropriate issue type and fill out the template. We ask this of everyone, even maintainers.

[2019-11-20 19:41] #48 closed

[2019-11-20 21:14] chovy commented on #48
I think your docs are just wrong.

On Wed, Nov 20, 2019 at 11:41 AM Andrew Powell <notifications@github.com>
wrote:

--
Anthony Ettinger
http://anthony.ettinger.name
anthony@ettinger.name
+1 (831) 406-1123

[2019-11-20 21:23] shellscape commented on #48
Then that would have been a Documentation issue and the template for that should have been chosen. Templates for this repo aren't optional, please understand that.

The plugin was not in fact, published yet under that scope. All plugins are now scoped.

[2019-11-24 16:07] Kocal commented on #2
Can we add [rollup-plugin-graphql](https://github.com/kamilkisiela/rollup-plugin-graphql) to this repository?

I know that it's not an _official_ (I mean not maintened by Rollup team) Rollup plugin, but GraphQL is a well used language and this plugin is not compatible with Rollup ^1, an PR has been opened since more than 1 year (https://github.com/kamilkisiela/rollup-plugin-graphql/pull/7) but it'

[2019-11-24 16:24] shellscape commented on #2
@Kocal (let's open new issues for questions like this in the future) this is tricky. We want to license all of the official plugins to the Rollup org, so to get any third party plugins into the org as an official, the author has to transfer it to the org and also update the LICENSE file. That's the only legit way to do it.

Now, that doesn't preclude us from writing a _new_ plugin with _similar_ f

[2019-11-25 19:15] NotWoods commented on #2
@shellscape I can work on migrating the code for rollup-plugin-typescript

[2019-11-25 19:18] shellscape commented on #2
That's great news. I'll ping you when it's prudent to start. We've got to get that repo tidy before we start. Lots of pending PRs that I'd like to give people time to respond to. I'll start closing them as abandoned later in the week.

[2019-11-25 22:41] bterlson opened #56 "Update docs; address possible symlink deficiencies"
- Rollup Plugin Name: node-resolve
- Rollup Plugin Version: 6.0.0

Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

Mostly a port of an old issue, described here: https://github.com/rollup/rollup-plugin-node-resolve/pull/244#issuecomment-558370665.

### Your Proposal for Changes

Please see referenced thread.

[2019-11-28 00:05] evanplaice commented on #2
Are there any unclaimed plugins left? I'd like to help.

[2019-11-28 02:02] shellscape commented on #2
@evanplaice awesome, thank you. yessir. `sucrase` and `legacy` are still pending, as is `babel` - even though those are "claimed." Until there's a PR for them, they're fair game.

[2019-11-28 07:32] Andarist commented on #2
I'm going to start working on babel migration soon - was occupied by some different stuff lately and also were iterating through a PR to the rollup-plugin-babel with Lukas, so it was not the right time to start preparing a migration.

[2019-11-29 08:38] nrzull opened #60 "@rollup/plugin-html was not found in npm registry"
- Rollup Plugin Name: @rollup/plugin-html
- Rollup Plugin Version:

Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
[code]

### Your Proposal for Changes

[2019-11-29 15:33] shellscape commented on #60
Hasn't been published yet :) please have patience. It's a holiday in the U.S. and this was just merged late yesterday.

[2019-11-29 15:33] #60 closed

[2019-11-29 22:40] shellscape commented on #61
Hey folks. We're in progress on migrating the plugin, and have transferred this issue. We're going to lock it for a short time until the migration is complete, and then we'll unlock and continue the discussion. 🍺

[2019-12-01 03:41] damooo opened #62 "mistake in plugin-virtual readme"
- Rollup Plugin Name: virtual
- Rollup Plugin Version: *
- Rollup Version: *
- Operating System (or Browser): *
- Node Version: *

### How Do We Reproduce?
in README

### Expected Behavior
at https://github.com/rollup/plugins/tree/master/packages/virtual#install install command should be right

### Actual Behavior

presently it is command to install `yaml` plugin instead

[2019-12-01 08:14] pajaydev commented on #2
@shellscape Awesome work. This is great for ppl wants to contribute.  Is there any pending plugins I can take ?. Happy to help 😃

[2019-12-02 07:37] d-kochanzhi opened #64 "es6 compile error (aperator OF)"
- Rollup Plugin Name: @rollup/plugin-buble
- Rollup Plugin Version: 0.20.0
- Rollup Version:1.1.2
- Operating System (or Browser):
- Node Version:

### How Do We Reproduce?

cant compile this code:

 for (var key of data.keys()) {
\\ iteration of FormData
}

https://developer.mozilla.org/ru/docs/Web/API/FormData/keys

### Expected Behavior

compile

### Actual Behavior

Error

UnhandledPromiseReje

[2019-12-02 23:18] #27 closed

[2019-12-02 23:51] shellscape commented on #2
@pajaydev thank you, it's a team effort!

We pretty much have the migration down to the last few and in progress. We're migrating bugs and issues over from the old repos that are still relevant and would absolutely love some help with those!

[2019-12-02 23:58] shellscape opened #69 "auto-install yarn tests"
- Rollup Plugin Name: auto-install
- Rollup Plugin Version: latest

### Expected Behavior / Situation

I'd really enjoy it if the tests passed consistently. I frequently have to rerun the Circle CI workflows because of failed `yarn` tests.

### Actual Behavior / Situation

☝️ same same

### Modification Proposal

I'd like to nuke the yarn test that is failing intermittently. If someone can spot a

[2019-12-03 00:10] shellscape commented on #70
This should be fixed by https://github.com/rollup/rollup-plugin-typescript/pull/153, please let us know if it's not.

[2019-12-03 00:18] zanona opened #72 "jsx: `preserve` does not compile"
Hi,
I'm trying to compile `.tsx` preserving the JSX output but have a problem whenever using `jsx: 'preserve'`. It only works when using `jsx: 'react'` but it's not the output I'm looking for.
Any ideas or workarounds or am I missing something?

Thanks

<details>
<summary><b>rollup.config.json</b></summary>

[code]

</details>

<details>
<summary><b>main.tsx</b></summary>

[code]
</details>

[code

[2019-12-03 00:18] #72 closed

[2019-12-03 00:18] shellscape commented on #72
@zanona pleas try the solution posted by @bhabgs. Happy to reopen if that doesn't fit the bill.

[2019-12-03 00:50] shellscape commented on #62
Fixed by #63

[2019-12-03 00:50] #62 closed

[2019-12-03 00:51] shellscape commented on #64
@d-kochanzhi thanks for opening an issue but you missed a very important part of the template:

Please add a minimal reproduction.

[2019-12-03 07:55] zanona commented on #72
Hi, @shellscape. Unfortunately I am not using babel.

[2019-12-03 08:29] lukastaegert commented on #72
You do not need a Babel plugin, you an acorn plugin, namely 'acorn-jsx'. This will make Rollup's parser acorn handle JSX tokens.

See https://rollupjs.org/guide/en/#acorninjectplugins which exactly describes your use-case.

[2019-12-03 08:59] zanona commented on #72
Thanks @lukastaegert.
I just tested and it worked pretty well. Thanks.
Considering this, would it be sensible to say that the `preserve` option on this plugin would only work when using it the way you suggested? It may be worth documenting it perhaps?

[2019-12-03 10:20] lukastaegert commented on #72
Definitely worth a docs update as it may help others with a similar use-case, PR welcome!

[2019-12-03 10:32] Andarist commented on #69
While mocking is often not the right answer it seems that it might be here. We don't actually care how yarn (or any other package manager) installs stuff (what artifacts does it leave behind) - we could only check if it has been invoked correctly and trust it to do its job fine when invoked for real.

[2019-12-03 12:46] NE-SmallTown opened #74 "Add only option to external"
- Rollup Plugin Name:  node-resolve
- Rollup Plugin Version: 6.0.0

### Feature Use Case
Transfer from https://github.com/rollup/rollup-plugin-node-resolve/issues/245

### Feature Proposal
Transfer from https://github.com/rollup/rollup-plugin-node-resolve/issues/245

[2019-12-03 13:00] shellscape commented on #69
That's very apt, and sounds like the right way to go.

[2019-12-03 17:18] shellscape opened #75 "repo task: enable pnpm audit"
- Rollup Plugin Name: all plugins
- Rollup Plugin Version: current

### Expected Behavior / Situation

n/a

### Actual Behavior / Situation

All plugins currently have a placeholder for the `"security"` script.

### Modification Proposal

We need to enable use of `pnpm audit`. I'm not sure yet how this will work. pnpm may work on the main lockfile only, which would negate the need for the script i

[2019-12-03 22:19] gingur opened #351 "filename missing when using getBabelOutputPlugin"
When using `babel.generated`, the `filename` is not being provided to the babel options. https://github.com/rollup/rollup-plugin-babel/blob/master/src/index.js#L182. I think `outputOptions.dir` + `chunk.fileName` should give the appropriate filename.

[2019-12-03 23:48] pajaydev commented on #2
@shellscape  Thanks. I will take a look.

[2019-12-04 10:08] LukasHechenberger opened #76 "typescript plugin still references rollup-pluginutils"
- Rollup Plugin Name: typescript
- Rollup Plugin Version: 2.0.0
- Rollup Version: 1.27.8
- Operating System (or Browser): macOS
- Node Version: 12.13.1

### How Do We Reproduce?

- Install the typescript plugin `npm i --save-dev @rollup/plugin-typescript typescript tslib`
- Add it to _rollup.config.js_
- Run  `rollup -c`

### Expected Behavior

It should work ;)

### Actual Behavior

[code]

### R

[2019-12-04 13:05] shellscape commented on #76
A PR would be fantastic. Otherwise, I can get around to a fix for this later today.

[2019-12-04 13:29] pnevares commented on #75
I should be able to open a PR for this shortly, let me know if you'd prefer to handle it directly.

[2019-12-04 13:45] LukasHechenberger commented on #76
Okay, on it

[2019-12-04 17:23] #76 closed

[2019-12-04 23:19] #75 closed

[2019-12-05 13:46] targumon opened #79 "Doesn't work with rollup >= 1.27.0"
- Rollup Plugin Name: replace
- Rollup Plugin Version: 2.2.1
- Rollup Version: 1.27.8
- Operating System (or Browser): MacOS
- Node Version: 10.15.3

### How Do We Reproduce?

Created a clean project: `npm i -y`, followed by `npm i -d rollup @rollup/plugin-replace`, created a small js file with just console.log in it, using the exact rollup.config.js file described under 'Usage' in https://github.

[2019-12-05 14:03] lukastaegert commented on #79
Are you sure you placed the `plugins` option in the correct place? This error can only occur if it is placed inside the `output` object. In the example you linked, it is placed outside the `output` object.

[2019-12-05 14:05] lukastaegert commented on #79
Though it might make sense to be able to use this plugin as an output plugin, it is not supported and also would not really make sense as then it would not benefit from tree-shaking.

[2019-12-05 14:11] shellscape commented on #79
@targumon as the issue template mentions, we need a minimal reproduction to triage this. Without that, there's not much we can do.

[2019-12-05 19:02] quentinadam opened #80 "typescript plugin does not recognize typescript code"
- Rollup Plugin Name: plugin-typescript
- Rollup Plugin Version: 2.0.1
- Rollup Version: 1.27.8
- Operating System (or Browser): Mac OS X Catalina
- Node Version: 12.13.1

### How Do We Reproduce?

I have created a minimal github repo here:

https://github.com/quentinadam/test-rollup-typescript

Compile with rollup by running `npm run build` or `rollup -c`

### Expected Behavior

Should compile th

[2019-12-08 13:05] targumon commented on #79
Oh, I feel so stupid. I'm not even sure now where did I copy my bad `rollup.config.js` from (with `plugins` inside `output` instead of adjacent to it).

Thanks and my apologies for the trouble!

[2019-12-08 13:05] #79 closed

[2019-12-08 13:33] targumon commented on #79
Found the source of my mistake: before realizing I also need the _replace_ plugin, the first one I used was _terser_, which is an output plugin... So my initial config had `plugins` inside `output` and I naturally thought that that's the place for **all** plugins.

TL;DR (for whoever gets here from search engines):
There are "regular" plugins and there are output plugins, so your _rollup.config.js

[2019-12-08 13:51] LarsDenBakker opened #82 "deep imports not deduped"
- Rollup Plugin Name: `@rollup/plugin-node-resolve`
- Rollup Plugin Version: 6.0.0
- Rollup Version: 1.27.13
- Operating System (or Browser): macOS Sierra
- Node Version: 10.16.0

### How Do We Reproduce?

- Create a package called `foo` with two files:

`shallow.js`:
[code]
`deep/deep.js`:
[code]

- Create a package called `bar`, with a dependency on `foo` 1.0.0
- Create a package called `buz`, w

[2019-12-08 13:59] shellscape commented on #82
@LarsDenBakker please fill out the appropriate issue template. This is not optional and something we ask of everyone.

[2019-12-08 14:52] shellscape opened #83 "Remove jsnext:main support from repo"
- Rollup Plugin Name: `node-resolve`, all others
- Rollup Plugin Version: n / a

### Expected Behavior / Situation

n / a

### Actual Behavior / Situation

After @TrySound mentioned that `jsnext:main` is deprecated, I did some digging and asking around. Rollup was really the only bundler that embraced it fully. As mentioned by Rich Harris [here](https://twitter.com/Rich_Harris/status/1203299929285

[2019-12-08 14:58] shellscape commented on #80
Thanks for the issue and repro 🍺

I just tried your reproduction and all works as expected for me:

[code]

Could something on your system be interfering?

[2019-12-08 18:49] quentinadam commented on #80
Thank you for the quick reply.

I have done some further testing, and I was able to pin down more specifically why it did not work in my environment and why I does work in other environments.

I still believe that there is a bug somewhere.

It appears that a parent folder of the folder I was working from contained a parenthesis "(". The exact path I was working from was "/Users/quentinadam/Dropbox

[2019-12-09 00:22] NotWoods commented on #80
This seems to be caused by pluginutils' `createFilter` interpreting parenthesis as glob characters instead of part of the path. As a result, the typescript files aren't matched properly by the filter. I'll try to put up a PR for pluginutils later.

[2019-12-09 06:41] ziofat commented on #71
Hi, is this fixed or not?

[2019-12-09 06:43] NotWoods commented on #71
It's not fixed yet, it's just been transferred to the new repository.

[2019-12-09 13:23] Vehmloewff commented on #71
There is a workaround for this, I'll be it is not an ideal one, but it is what I have been using in the meantime.

Instead of

[code]

I just

[code]

The only problem with this is that I do not really want to export `Type1`.  But in my case, I would rather have extra export that not have the ones I need.

[2019-12-09 15:10] jpaquim opened #86 "dedupe leads to errors in a monorepo with hoisted dependencies"
- Rollup Plugin Name: @rollup/plugin-node-resolve
- Rollup Plugin Version: 6.0.0
- Rollup Version: 1.27.9
- Operating System (or Browser): macOS
- Node Version: 13.2.0

### How Do We Reproduce?

Here is a repo reproducing the issue: https://github.com/jpaquim/rollup-monorepo-issue

Steps:
- Start with a monorepo configuration using package hoisting (the default for yarn workspaces, or using lerna

[2019-12-09 15:13] shellscape commented on #86
Thanks for the issue :beer:

This is going to be a difficult one to remedy in a monorepo. I'm afraid the setup is going to be a bit complex in order to get multiple folks working on triage. Can you provide a repo that has a reproducible setup? One with the setup you're using would be most helpful.

[2019-12-09 15:39] jpaquim commented on #86
@shellscape sure thing, here is a repo reproducing the issue: https://github.com/jpaquim/rollup-monorepo-issue

[2019-12-09 16:04] jpaquim commented on #86
I don't have enough context on the internals of rollup or this plugin, so this will probably be naïve, but it seems that just replacing `join(process.cwd(), 'node_modules', importee)` with `require.resolve(importee)` seems to work for this specific case, basically letting node itself resolve the importee from the parent folders recursively.

However, I'm not sure if this would actually work inside

[2019-12-09 16:08] shellscape commented on #86
#34 is likely to affect this as well.

[2019-12-09 19:57] shellscape commented on #64
@d-kochanzhi please let us know when you've added a reproduction so that we can begin to triage this. We're going to close this issue for now, but will reopen it when a repro has been added.

[2019-12-09 19:57] #64 closed

[2019-12-09 19:58] shellscape commented on #83
#85 took care of most of the work. Going to leave this open as several modules have to get a version bump and get published.

[2019-12-09 22:14] CrashyBang commented on #14
@lukastaegert could you give a small example of using `this.resolve`?

Cheers.

[2019-12-09 23:23] appsforartists opened #87 "feat: error if there are still imports"
Here is my current configuration:

[code]

I'm interested in adding a check that will throw if there are still `import` statements in the resulting bundle (e.g. `exhaustive: true`). The purpose of such a check would be to require a manual intervention before adding any dependencies to a published bundle: in this case, to ensure that the correct licenses have also been included.

Would you be amena

[2019-12-09 23:23] appsforartists commented on #87
cc @shellscape @mecurc @larsdenbakker

[2019-12-10 09:37] lukastaegert commented on #14
Here is a real-world example, though it is probably not a simple one: https://github.com/rollup/rollup-plugin-commonjs/blob/535e8117607731e1e8688be84c3aeb6e5c3b6fa5/src/resolve-id.js#L54

Here it is taking an import of the form `commonjs-proxy:./some-imports.js`, removes the prefix and uses `this.resolve` to find out what path the import of `./some-import.js` resolves to.

[2019-12-10 19:07] shellscape commented on #87
@appsforartists I think this would make more sense as a separate plugin. That could even allow for adding envars or some such for bypassing the check (similar to using husky/precommit and the `--no-verify` flag). It could also be handy outside of node-resolve as a diagnostics tool.

[2019-12-12 14:52] MartijnHols commented on #72
Is Acorn a last step of this plugin or a part of Rollup? I think it's the latter, so then shouldn't this only be necessary if you want to preserve JSX in the final output, but not if you want another plugin (e.g. babel) to compile it instead? The [current text](https://github.com/rollup/plugins/tree/master/packages/typescript#preserving-jsx-output) seems to suggest it's always required when `jsx`

[2019-12-13 01:14] Vehmloewff commented on #71
I just realized that this is a duplicate of https://github.com/rollup/rollup-plugin-typescript/issues/28.  Sorry for the inconvenience.

[2019-12-13 09:05] vladshcherbin commented on #2
Hey 👋

In after moving todo list there is "Publish a patch version with the `deprecated` property added to package.json", however I don't think this property is added.

For example, take [node-resolve plugin](https://github.com/rollup/rollup-plugin-node-resolve):
- from github readme you can find it's deprecated
- from [npm readme](https://www.npmjs.com/package/rollup-plugin-node-resolve) you can'

[2019-12-13 12:56] shellscape commented on #2
@vladshcherbin we'll get there. Npm permissions for a lot of these plugins require author action, and it doesn't always happen fast. We ask for patience.

[2019-12-16 20:49] drzraf opened #92 "commonjs + inject"
- Rollup Plugin Name: commonjs, inject
- Rollup Plugin Version: @rollup/plugin-inject@4.0.0, rollup-plugin-commonjs@10.1.0
- Rollup Version: v1.27.13
- Operating System (or Browser): Linux
- Node Version: 10.17.0

### How Do We Reproduce?

https://github.com/drzraf/rollup-issue-92

### Expected Behavior

`Injection` works with `commonjs`

### Actual Behavior

Browser throws `ReferenceError: module

[2019-12-16 22:46] LarsDenBakker commented on #82
Although I think the original writeup explained the issue more easily, I've updated the issue with the template now.

[2019-12-17 15:59] clausreinke opened #93 "property.name.kind access when property.name is undefined"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 2.0.1
- Rollup Version: 1.27.13
- Operating System (or Browser): windows 10
- Node Version: v8.16.2

### How Do We Reproduce?

[rollup-typescript-problem.zip](https://github.com/rollup/plugins/files/3974200/rollup-typescript-problem.zip)

1. unpack rollup-typescript-problem.zip
2. npm i
3. .\node_modules\\.bin\rollup --config

[2019-12-18 09:03] mjarkk opened #94 "(plugin-alias) Can't get preact/compact to replace react imports"
I'm trying to add [graph**i**ql](https://github.com/graphql/graphiql) to my sapper (svelte + ssr) application by dynamically importing preact and graphiql but i can't get [preact/compat](https://preactjs.com/guide/v10/getting-started#integrating-into-an-existing-pipeline) working so i can use react components in a preact project.

I use the [rollup config provided by sapper](https://github.com/sve

[2019-12-18 16:54] shellscape commented on #2
@vladshcherbin would you be interested or open to moving rollup-plugin-copy here?

[2019-12-18 23:52] vladshcherbin commented on #2
@shellscape sure

[2019-12-19 10:24] Rick-Rick-Rick opened #95 "entry-point [!] Error: ENOENT: no such file or directory"
- Rollup Plugin Name: @rollup/plugin-multi-entry
- Rollup Plugin Version: 3.0.0
- Rollup Version: 1.27.10
- Operating System (or Browser): windows
- Node Version: 10.15.3

![image](https://user-images.githubusercontent.com/9975520/71165699-4a90f080-228c-11ea-9708-24d00e09e2ec.png)
![image](https://user-images.githubusercontent.com/9975520/71165815-77dd9e80-228c-11ea-9929-e232cd2f33f0.png)

![image

[2019-12-19 13:06] shellscape commented on #95
Hey thanks for opening an issue. Unfortunately this isn't the right place to ask for support. Citing the issue templates:

ask. Please head to [the Rollup Gitter](https://gitter.im/rollup/rollup)
instead or post a question to https://stackoverflow.com/questions/tagged/rollupjs.

  Head to https://gitter.im/rollup/rollup or https://stackoverflow.com/questions/tagged/rollupjs

Apologies, but we don'

[2019-12-19 13:19] shellscape commented on #93
@clausreinke after running your repro it looks to me like the problem exists with typescript. I'm not a TS expert so I can't provide guidance there, but the stack trace is solely within the typescript module itself.

[2019-12-19 13:21] shellscape commented on #92
@drzraf I'm afraid you'll have to distill this issue a bit further before we can triage it. Please identify what isn't working within @rollup/plugin-inject, or rollup-plugin-commonjs. Once you have it narrowed down, we'll be able to help you further.

[2019-12-19 13:22] shellscape commented on #94
Hey thanks for opening an issue. Unfortunately this isn't the right place to ask for support. Citing the issue templates:

ask. Please head to [the Rollup Gitter](https://gitter.im/rollup/rollup)
instead or post a question to https://stackoverflow.com/questions/tagged/rollupjs.

  Head to https://gitter.im/rollup/rollup or https://stackoverflow.com/questions/tagged/rollupjs

Apologies, but we don'

[2019-12-19 13:22] #94 closed

[2019-12-19 14:55] mjarkk commented on #94
Sorry, i indeed read that issue template but i found it better to ask this here.

Maybe i had to call it a feather request because it seems like it's currently not possible to do a module alias like this:
[code]

And for preact users that use it in production this seems like an important thing to have in a js module bundler and thus why i was asking it here.
If `path.resolve(__dirname, "node_modul

[2019-12-19 14:58] shellscape commented on #94
@mjarkk we're very open to feature requests. would you be up for creating a new Feature Request issue for that? it would also be super helpful to have a very minimal repo put together that attempted to do what you're looking to do. that would provide a proof of failure/missing feature _and_ a testbed for implementing the new feature!

[2019-12-19 15:08] shellscape commented on #94
I'm also going to create a new repo-management issue to pursue "recipes" (aka How-To) for commonly performed tasks, such as the one you reference. It will be a "help wanted" / "todo", long-running issue for people to request recipes as well.

[2019-12-19 15:11] mjarkk commented on #94
Np, i'll see if i can create an example repo next week with a minimal example of how this should work.

I ended up deciding yesterday to move over to another framework (also another bundler :disappointed:) because the rollup config for sapper is really different from all react rollup example configs with as results one fix for an error created another and that did go on for at least 6 hours so i w

[2019-12-19 15:14] shellscape commented on #94
Well I'm sorry for your frustration. My job here over the next year is to try to prevent that from happening with others. Hopefully we can get documentation to a point where you might give it another shot. We'd really, really appreciate any help you're willing to give to improve the plugins and the docs - and creating that example repo is a huge help.

[2019-12-19 15:55] shellscape opened #96 "Recipes (How To) for Common Tasks and Setups"
_Note: Issue template removed as this is a Repository Management, long-running issue for tracking and action._

With the migration of core plugins to this repo, we're starting to get a birds-eye view of the types of issues that people are running up against with popular plugins. The majority of support requests that make it through to the repo are asking for implementation help. And that seems to

[2019-12-19 16:51] lukastaegert commented on #96
I really love this, ideas like "we should really have this" have been crossing my mind many times before. Some thoughts from me:
* It would be nice to integrate this with the website. At the very least, we should add a link to the recipes. A cooler approach could be to have some meta information in a common format available in the folder of each recipe. This could be a JSON or markdown file contai

[2019-12-19 17:49] ddinchev opened #97 "eslint fails with "Unable to resolve path to module '@rollup/plugin-json'""
- Rollup Plugin Name: rollup-json
- Rollup Plugin Version: 4.0.0
- Rollup Version: 1.27.13
- Operating System (or Browser): macOS 10.13
- Node Version: v12.13.1

### How Do We Reproduce?

In my `rollup.config.js` I changed `import json from 'rollup-plugin-json'` to `import json from '@rollup/plugin-json';` and of course, installed `@rollup/plugin-json`.

### Expected Behavior

No eslint errors

##

[2019-12-19 19:02] shellscape commented on #97
Thanks for opening an issue. I can't reproduce this locally, so we're going to have to request that you follow the issue template a d provide a minimal reproduction.

[2019-12-20 14:20] LarsDenBakker commented on #86
I've created a PR for this https://github.com/rollup/plugins/pull/98

[2019-12-20 14:41] #80 closed

[2019-12-20 18:00] LarsDenBakker opened #100 "cannot deduplicate custom module dirs"
Rollup Plugin Name: `@rollup/plugin-node-resolve`
Rollup Plugin Version: 6.0.0
Rollup Version: 1.27.13
Operating System (or Browser): macOS Sierra
Node Version: 10.16.0

### How Do We Reproduce?

Use `customResolveOptions` to set a custom module directory, and enable `dedupe` for modules.

### Expected Behavior
Modules are deduplicated.

### Actual Behavior
Modules are not deduplicated. This is be

[2019-12-21 22:22] Dan503 opened #103 "TypeError: Cannot read property 'resolve' of undefined"
**Plugin:** rollup-plugin-commonjs

**Plugin Version:** 10.1.0

**Rollup Version:** 1.27.2

**Operating System (or Browser):** Windows 10

**Node Version:** 12.13.0

## How Do We Reproduce?

Reproduction steps are outlined in this reduced test case repo:

https://github.com/Dan503/BUG-rollup-plugin-node-resolve/tree/CommonJS-bug

Note this part of gulpfile.js in particular:

[code]

## Expected Be

[2019-12-21 22:28] shellscape commented on #103
@Dan503 thanks for opening an issue. Was this one that was a problem with the old `rollup-plugin-commonjs` as well?

[2019-12-21 22:30] Dan503 commented on #103
Yes, this is just a copy of the following issue from the old repo:

https://github.com/rollup/rollup-plugin-commonjs/issues/418#event-2902882998

[2019-12-22 00:06] shellscape commented on #103
This looks like it's a problem with `rollup-stream` and/or use within gulp. I tested that by creating a `rollup.config.js` file and running rollup directly with `npx rollup -c`. Here's the config file I used:

[code]

When I use that, the build succeeds without issue. Given that the last time it was published was 2 years ago, this isn't really surprising that there's a conflict. It's using a reall

[2019-12-22 00:06] #103 closed

[2019-12-22 00:25] Dan503 commented on #103
Could you please make a pull request against the example repo with the work-around solution implemented?

When trying to use existing documentation,  it's impossible to get rollup to understand common js if run through Gulp.

Having a working example of how to get it to work would help a lot. 😊

[2019-12-22 00:29] shellscape commented on #103
I don't think a PR is necessary in this case. Simply copy that code block, create `rollup.config.js` in the root, and paste that code block in it. Then run `npx rollup -c` in your terminal. You'll see the build succeed. That's not so much a workaround as it was a triage proof to show that Rollup, nor the commonjs plugin, was at fault there.

[2019-12-22 00:35] Dan503 commented on #103
Thanks, by the way, this bug is probably related to the same issue: #68

[2019-12-22 00:38] shellscape commented on #68
@Dan503 picking up where we left off with #103.

This line is telling:

[code]

`rollup-stream` again there. It's just not going to work with newer versions of the plugins. Anything that was released post Rollup v1.0 is probably a bust.

[2019-12-22 02:47] Dan503 commented on #103
I've created a branch on the repo with instructions on how to fix the issue in Gulp:

https://github.com/Dan503/BUG-rollup-plugin-node-resolve/tree/work-around-solution

The key is to use Gulp only as a means for running rollup while rollup handles all the file transformations.

This is what the new Gulp file looks like:

[code]

`child_process` is native to Node and doesn't need to be npm install

[2019-12-22 02:51] Dan503 commented on #68
See comment here with solution on how to get this working in Gulp: https://github.com/rollup/plugins/issues/103#issuecomment-568228122

[2019-12-22 02:51] #68 closed

[2019-12-22 03:00] Dan503 commented on #103
The downside to this work-around though is that you loose the ability to cache the compiled result so compile times will be significantly increased.

It would be better if `rollup-stream` could be maintained by the core Rollup team. 😟

[2019-12-22 03:37] shellscape commented on #103
I've also found several more up to date forks of `rollup-stream` that appear to work. This one has been updated for Rollup 1.x, even though it does use a hard dependency. It should probably work. https://github.com/Mazrog/rollup-stream

[2019-12-22 22:15] shellscape commented on #103
@Dan503 I've put together https://github.com/rollup/stream that can be used as a git dependency (for the time being - it needs to be reviewed before publishing). It's a basic stream implementation that is valid with latest versions of Rollup, and doesn't have a direct dependency on any one version of Rollup. `rollup-stream` has a number of forks, all of which are imperfect, and the code for `rollu

[2019-12-22 22:49] Dan503 commented on #103
Awesome, thanks for making an official fork 😊

[2019-12-23 04:00] NotWoods opened #105 "TypeScript plugin enhancements"
- Rollup Plugin Name: typescript
- Rollup Plugin Version: 2.0.1

### Feature Use Case
Our current official TypeScript plugin is missing a few important features:
- Cannot generate type definitions
- Cannot handle emit-less types
- Cannot report typing errors

As we prepare to rewrite our plugins in TypeScript we should make sure that we offer a great plugin too.

### Feature Proposal
There are man

[2019-12-23 06:30] NotWoods opened #106 "`Array` is inconsistent in plugin READMEs"
- Rollup Plugin Name: most of them :)

Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
We currently represent an array of items in different formats in our markdown docs.
- `Array(String)`
- `Array[String]`
- `Array[...String]`

### Your Proposal for Changes
Let's pick one of these and replace the rest.

[2019-12-23 14:27] mjarkk commented on #94
hmmm i think i'm wrong here,
today I've tried to re-create the most minimal version of a react to preact alias in a clean environment and it just seems to work.

<details>
<summary>Rollup config and main js file:</summary>

[code]

[code]

</details>

I don't have the time sadly to debug this issue further to see what my issue was in the first place.
But still thanks for the friendly responses ver

[2019-12-23 14:35] shellscape commented on #94
Thanks for following up. Look for some recipes to make it into the repo after the new year. I've floated the idea to folks and there's a lot of support for it.

It might be worth opening an issue with Sapper as well, since you were able to distill this to a simple working example, and your sapper implementation had issues. I'd wager that would give the Sapper folks something to look at. At the ver

[2019-12-23 17:00] mjarkk commented on #94
I'm not going to ask the svelte folks for advice without knowing where the  problem is.
I've already messed up this issue out of confusion and i don't want to create another one just to have the same story, i'll try to find some time to debug this further and see what the problem exactly is.

[2019-12-24 12:47] pnevares opened #111 "Multiple plugins have an incorrect homepage in package.json"
- Rollup Plugin Name: multiple
- Rollup Plugin Version: any monorepo version
- Rollup Version: n/a
- Operating System (or Browser): n/a
- Node Version: n/a

### How Do We Reproduce?

Run `npm docs` on a plugin with an incorrect `homepage` set.

### Expected Behavior

Plugin's README is displayed

### Actual Behavior

404 or root README for rollup/plugins is displayed

#109 and #110 aren't the only

[2019-12-24 20:10] dman777 opened #112 ""name-is-not-exported-by-module" for default export #206"
from https://github.com/rollup/rollup-plugin-commonjs/issues/206

@shellscape  I am hitting this issue with Google's material-components-web https://github.com/material-components/material-components-web

[2019-12-24 20:11] dman777 commented on #112
Oh wait, closing because I am not using common.js but plugin-node-resolve instead. Not sure if that matters, though, as I am still hitting this issue.

[2019-12-24 20:11] #112 closed

[2019-12-24 20:14] shellscape commented on #112
_(Please do fill out the issue template if you're migrating an issue over this way)_

[2019-12-24 21:11] eight04 opened #113 "attachScopes doesn't recognize for loop correctly"
- Rollup Plugin Name: pluginutils
- Rollup Plugin Version: 3.0.1
- Rollup Version:
- Operating System (or Browser): Windows 7
- Node Version: 13.5.0

### How Do We Reproduce?

[code]

https://repl.it/@eight041/attachScopes-and-for-scope?language=nodejs

### Expected Behavior

[code]

### Actual Behavior

[code]

I'm a little surprised that we didn't find this bug earlier. This breaks a lot of stuf

[2019-12-25 03:56] ziofat commented on #71
Well. You are referring to a issue in old repository and it was closed due to repository move. However this is not resolved right now. For me the workaround is not acceptable because I have a very large code base.
The `rollup-plugin-typescript2` handles this situation very well but it is really slow after upgrading to typescript 3.4.

[2019-12-25 03:59] shellscape commented on #71
@ziofat if you'd like to put together a minimal reproduction in a repo that we can clone, I'd be happy to reopen this. We're going to need a reproduction to triage this.

[2019-12-25 04:01] ziofat commented on #71
@shellscape OK, I will try to make a reproduction later.

[2019-12-25 04:05] #86 closed

[2019-12-25 10:00] ryanelian opened #114 "Rollup Failed to Build an Ordinary CJS Module (Failed to tryParse module.exports)"
_(This was moved from rollup/rollup where the templates vary slightly)_

- Rollup Version: 1.27.14
- Operating System (or Browser): Microsoft Windows [Version 10.0.18363.535]
- Node Version: v12.14.0

### How Do We Reproduce?

[code]

[code]

The source code in question is in this repository, although changes uncommitted because of the failed build: https://github.com/ryanelian/ts-polyfill

### Ex

[2019-12-25 13:26] jpaquim commented on #86
Great, thank you @LarsDenBakker and @shellscape for the great work!

[2019-12-25 17:24] shellscape commented on #86
👍  we're still working on getting publishing smoothed out, so please have patience on that getting to NPM

[2019-12-25 18:35] wessberg commented on #105
Hi there. Thanks for considering [`rollup-plugin-ts`](https://github.com/wessberg/rollup-plugin-ts), I'm thrilled that you think it would be a great default Typescript plugin for Rollup.

As you also touch upon with the point about extra features, it isn't exactly a minimal Typescript transpiler, it is more of an orchestrator of the relationship between Rollup, Typescript, Babel, and Browserslists

[2019-12-25 19:04] shellscape commented on #105
@wessberg thanks very much for responding here. I wanted to touch on a few things, only to provide context.

That's not an option for us unfortunately. `@rollup/plugin-typescript` is considered a core-critical plugin, and it's essential that we maintain it as rollup core depends upon it. One of the reasons for putting the monorepo together was so we could get core-critical plugins back to an activ

[2019-12-25 22:51] NotWoods commented on #114
@ryanelian If you explicitly include that file then it works properly. We may have changed the filtering behaviour during migration.

[2019-12-26 03:35] shellscape commented on #113
Thanks for reporting this. We'll have a look as soon as possible.

[2019-12-26 03:40] #111 closed

[2019-12-26 03:50] shellscape commented on #106
Let's go with `Array[...String]`.

[2019-12-26 14:43] LarsDenBakker opened #119 "handle multiple outputs"
- Rollup Plugin Name: @rollup/plugin-html
- Rollup Plugin Version: 0.1.0

### Feature Use Case
We ship [rollup-plugin-index-html](https://open-wc.org/building/rollup-plugin-index-html.html) which, for multiple rollup builds, is able to output a single `index.html` file containing both build outputs. One version with modern js syntax and esm, and one version with es5 and systemjs for older browsers

[2019-12-26 14:54] LarsDenBakker opened #120 "minify output html"
- Rollup Plugin Name: @rollup/plugin-html
- Rollup Plugin Version: 0.1.0

### Feature Use Case
Minified HTML makes for less bytes sent over the write.

### Feature Proposal
Add a configuration option to allow minifying the HTML output, [html-minifier](https://www.npmjs.com/package/html-minifier) is a good choice.

Alternative can be documenting how to implement your own minification like here: htt

[2019-12-26 15:53] shellscape commented on #120
I'd like to know more about the scenario in which you're using the plugin. On the surface it seems like any gain here would be negligible, and wouldn't justify the added complexity. The primary use-case for the `html` plugin right now is a development environment, and it wouldn't make a whole lot of sense to minify for that.

[2019-12-26 16:06] shellscape commented on #119
@lukastaegert this is an interesting scenario. We don't currently have a hook that provides info for all bundles, and `buildEnd` is called before generate. To implement this feature we need to collect all of the assets from all of the outputs. Is this an opportunity for a new hook or is there another way to go about this?

[2019-12-26 17:37] #97 closed

[2019-12-26 18:08] LarsDenBakker commented on #120
When you're building a modern webpapp you don't need all the complexities of webpack to handle legacy module syntaxes, rollup is a much more developer friendly tool which we generally recommend to developers.

You can definitely use it during development, but you can use the same for deploying your application to production.

I think generally it's a good practice to minify your index.html, if peo

[2019-12-26 18:10] shellscape commented on #120
I honestly hadn't considered that this would be used to deploy html files. That's interesting. I'd like to look into a new plugin for minifying html. Let's enumerate the various tools that can handle it and go from there.

[2019-12-26 18:50] shellscape commented on #120
This looks promising https://github.com/DanielRuf/html-minifier-terser.

Seeing this https://github.com/gucong3000/postcss-html also piques my interest. I have a few projects leveraging PostCSS and an HTML syntax for it is fascinating, and might allow to me construct an HTML minifier on par with html-minifier.

[2019-12-27 09:57] LarsDenBakker commented on #120
I'm using https://github.com/DanielRuf/html-minifier-terser right now as well, and it's used by [html-webpack-plugin](https://github.com/jantimon/html-webpack-plugin) as well.

[2019-12-27 21:16] PeteJodo commented on #71
I created a repo that reproduces the issue here https://github.com/PeteJodo/repro-rollup-typescript-export-type-issue

I get this output

[code]

[2019-12-28 13:10] LukasBombach opened #124 "Package name wrong in update suggestion"
- Rollup Plugin Name: `rollup-plugin-commonjs` / `@rollup/plugin-commonjs`
- Rollup Plugin Version: `rollup-plugin-commonjs@10.1.0`
- Rollup Version: `1.27.14`
- Operating System (or Browser): macOS 10.14.5
- Node Version: `12.12.0`

### How Do We Reproduce?

[code]

will echo the following warning:

The error is correct, but there is a typo. Instead of `@rollup/plugin-commonjs` it says `@rollup/p

[2019-12-28 14:31] shellscape commented on #124
Thanks for letting us know, I've updated the message just now to be correct. The "J" key on my keyboard sometimes doesn't work very well and it's been acting up lately.

[2019-12-28 14:31] #124 closed

[2019-12-28 17:17] LukasBombach commented on #124
No worries. Thank you so much! Rollup is super awesome, thank you for this amazing library!

[2019-12-28 18:48] drzraf commented on #114
Exactly the same problem, wrongly reported [here](https://github.com/babel/babel/issues/10931)
But actually a regression of the update from `rollup-plugin-commonjs` to `@rollup/plugin-commonjs`.

[2019-12-30 04:44] weyert commented on #71
Yes, I have the same issue and temporary not exporting the props of my React components due to this issue. I have also tried `rollup-plugin-typescript2` but that's not working at all, keep getting `failed to transpile '/Users/work/experiment/src/index.ts'`  and have no idea what that is supposed to mean.

[2019-12-30 14:18] frank-dspeed opened #125 "plugin request: Handle data:mime,<data> urls"
Request Checklist:

- [x] I have searched https://npmjs.com/ before opening this issue
- [x] I have searched https://github.com/rollup/awesome before opening this issue

### New Plugin Use Case

I would like to import code as a module from a `data:{mime}` declaration.

[code]

### New Plugin Proposal

Perhaps `@rollup/plugin-data-mime`. The plugin could look like:

[code]

[2019-12-30 14:23] matt3224 commented on #2
+1 for `rollup-plugin-terser`

[2019-12-30 14:32] shellscape commented on #2
@matt3224 I think at this point that @TrySound prefers to keep that project under his personal account, and we respect that decision. That said, we'll always be open to hosting it here.

[2019-12-30 14:34] shellscape commented on #71
@NotWoods this might be up your alley. @PeteJodo put together a reproduction repo for reference, and it might be related to the updates you have planned already.

[2019-12-30 14:39] shellscape commented on #125
@frank-dspeed thanks for opening an issue here for this. I've updated your issue with the content from the original rollup/rollup issue. That's the better way to go, since plugin maintainers and contributors are more likely to take up the effort without the extra friction of referencing and parsing another issue (we're all operating here on limited, volunteered time and availability.)

[2019-12-30 15:02] shellscape commented on #125
For reference, here's Node's documentation on this import approach https://nodejs.org/api/esm.html#esm_data_imports

[2019-12-30 16:37] shellscape commented on #24
While I'm still looking into `changesets`, I'd like to take baby steps in getting there. We're starting to get some fixes backing up that need publishing, and I've finally been able to put some time into the publish workflow in the interim. Here's what I've come up with:

[code]

Most of these steps are straightforward and the current publish script does a small amount of this (at the end). I'll b

[2019-12-30 19:28] mindrones opened #126 "rollup-pluginutils: update deprecation message"
At https://github.com/rollup/rollup-pluginutils we can still read:

[code]

while most of the other `rollup-plugin-*` repos have a proper deprecation message. It would be nice to conform that repo too to help the reader (I tried opening a PR there but it's in read mode). Thanks!

[2019-12-30 21:23] shellscape commented on #126
Thanks for letting us know. I'll try to update that soon.

[2019-12-31 13:13] shellscape commented on #126
Done

[2019-12-31 13:13] #126 closed

[2019-12-31 14:21] yannayl opened #128 "Strip default inclusion pattern doesn't include unresolved relative modules"
- Rollup Plugin Name: strip
- Rollup Plugin Version: 1.3.1
- Rollup Version: 1.27.14
- Operating System (or Browser): Ubuntu 18.04
- Node Version: v13.5.0

### How Do We Reproduce?

Clone the [reproduction repository](https://github.com/yannayl/rollup_strip_issue_128_repro) and follow the instructions in the README file.

### Expected Behavior
Both files - resolved and unresolved should be identic

[2019-12-31 15:05] shellscape commented on #128
I believe in this scenario you have to place `alias` before the `strip` plugin.

It's difficult to parse what you're expecting here based on the description. Perhaps a repo with a reproduction, or using repl.it would be a better demonstration of the problem.

[2019-12-31 19:47] NotWoods commented on #71
I'll try to get this working with our larger TS plugin updates.

[2019-12-31 19:49] #106 closed

[2019-12-31 21:09] matthewp opened #130 "Unable to resolve circular reference"
- Rollup Plugin Name: @rollup/plugin-commonjs
- Rollup Plugin Version: 11.0.0
- Rollup Version: 1.27.14
- Operating System (or Browser): OSX
- Node Version: 10.16.3

### How Do We Reproduce?

https://gist.github.com/matthewp/59dd4e4f53d1d697168d67a97d9a9867

The above gist contains a minimal example. You can run:

[code]

To run rollup. Then open `smoke.html` in any web browser.

### Expected Beha

[2019-12-31 21:18] shellscape commented on #130
There are a litany of circular reference issues in the main rollup project. The likelihood that there's a good solution for this is pretty slim.

[2019-12-31 21:25] matthewp commented on #130
Yeah I understand that. I wasn't able to recreate using ES modules so I'm fairly certain that the createCommonjsModule code is the culprit here. I can see from looking at it that it's probably very hard to fix.

[2019-12-31 21:27] matthewp commented on #130
This case comes down to an ordering issue. `joi.js` depends on `schema.js`, but doesn't need it in the module body. `schema.js` does need `joi.js` in the module body. If the modules were ordered the opposite it might be ok.

[2020-01-01 09:45] yannayl commented on #128
Changing the order doesn't matter. The issue has to do with the default minimatch expression `**/*.js` failing to match `./external/foo.js` id for some reason.

I created a [minimal reproduction repository](https://github.com/yannayl/rollup_strip_issue_128_repro)

[2020-01-01 13:39] shellscape commented on #128
We'll need to narrow down the "for some reason" bit before we can merge a code change. That's a good practice to get into. Thanks for the reproduction, we'll have a look.

[2020-01-01 14:52] shellscape commented on #128
OK the crux of the problem is that `**/*.js` as a filter will have a resolution of the current working directory. In my clone of your repro, that ends up looking like this:

[code]

Now here's where it gets squirrely - Rollup resolves `./external/foo.js` just fine at some point in the process, but in the `strip` plugin's `transform()` method, the path hasn't been fully resolved, and the partial pa

[2020-01-01 15:51] #100 closed

[2020-01-01 16:03] shellscape commented on #128
It also appears that `createFilter` expects the paths to be fully resolved, based on this test: https://github.com/rollup/plugins/blob/6284ebe8ac7bc235fbdd47ca424d824c3e8d1c15/packages/pluginutils/test/createFilter.ts#L87-L94

[2020-01-03 03:17] shellscape commented on #92
@drzraf please see the previous reply. If that's something you're willing to tackle, we'll be happy to reopen this issue.

[2020-01-03 03:17] #92 closed

[2020-01-03 03:34] #24 closed

[2020-01-03 04:27] shellscape commented on #12
Closed by #34

[2020-01-03 04:27] #12 closed

[2020-01-03 04:36] shellscape commented on #44
The `strip` plugin is really meant to only target code, and while it could technically be used on other files, the default filter is `'**/*.js'`. This is a good opportunity for a new third party plugin, but not a great fit for the `strip` plugin. Thanks for opening the issue, and please do submit a plugin for this to rollup/awesome if you take that task on.

[2020-01-03 04:36] #44 closed

[2020-01-03 04:47] shellscape commented on #66
@StreetStrider would you like to submit a PR for updating the docs?

[2020-01-03 04:50] shellscape commented on #93
Closing citing previous reply. Please let us know if you find different.

[2020-01-03 04:50] #93 closed

[2020-01-03 11:12] StreetStrider commented on #66
@shellscape, will do.

[2020-01-03 16:57] drzraf commented on #92
I can't go further than what I already provided. Sorry to see such a high entry bar to bugfixes

[2020-01-03 17:11] StreetStrider commented on #66
@shellscape #138

[2020-01-03 17:12] shellscape commented on #92
Everyone here volunteers their time to work on the project. When users come here with issues that involve complex configurations or reproductions, we ask that they distill the config or repro down to a simple form that highlights the issue faced. We simply don't have the time or resources to deep dive nuanced configs. That's why we ask for _minimal reproductions_ in the issue template.

I'm sorry

[2020-01-03 19:22] Andarist commented on #92
@shellscape i take a quick look at provided repro and it seems to be pretty minimal

[2020-01-03 19:53] shellscape commented on #92
@Andarist We've asked for the conflict between the two plugins to be distilled further in an earlier reply.

[2020-01-03 20:07] Haringat opened #139 "plugin-commonjs: dashes in filename result in invalid javascript code"
- Rollup Plugin Name: commonjs
- Rollup Plugin Version: 11.0.0
- Rollup Version: 1.27.13
- Operating System (or Browser): Arch linux
- Node Version: 13.3.0

### How Do We Reproduce?

repl.it link: https://repl.it/repls/ElderlySoggyNetworks

### Expected Behavior
The plugin creates a valid identifier for the export name

### Actual Behavior
the filename "parse-int" will be converted to "_parse-int"

[2020-01-03 20:44] Andarist commented on #92
I think the root cause here is quite simple - I've stumbled upon a really similar issue lately while debugging it.

Problem is that `@rollup/plugin-inject` injects **import** statements, so it makes automatically a module out of the given file, even if it's just a script - like in your case because your files are written using commonjs. And this makes `rollup-plugin-commonjs` to think that what it

[2020-01-03 21:49] drzraf commented on #92
Thank you for the proposed workaround @Andarist.
It resolves the problem in the context of this repro (In my real codebase I remember having hit another issue when changing plugin order. I'll let you know here if I hit it again)

I updated repository's testcase in the meantime.

[2020-01-04 00:16] shellscape commented on #139
🎉  thank you for using the new repl.it template!

I tried to run it but am getting an error:

[code]

If this works for you, I can let the repl.it folks know something isn't right. Could you take another quick look?

[2020-01-04 00:26] shellscape commented on #87
Closing citing previous reply.

[2020-01-04 00:26] #87 closed

[2020-01-04 02:14] shellscape commented on #125
I've begun work on this plugin.

@LarsDenBakker saw your comment on the webpack issue and thought this might interest you.

[2020-01-04 02:17] #66 closed

[2020-01-04 08:35] LarsDenBakker commented on #125
Indeed I need one as well, I ended up writing my own but it's good to standardize.

[2020-01-04 08:36] LarsDenBakker commented on #119
@lukastaegert would be great if you have a chance to look at this :)

[2020-01-04 08:47] frank-dspeed commented on #125
@LarsDenBakker yes i need it also for my esm-loader module to support cross platform importScript

[2020-01-04 09:29] lukastaegert commented on #119
Having an overview over all outputs is technically not possible because internally, multiple outputs are just handled by calling `generate` multiple times on the output of `rollup.rollup`, and how would you know which call is the last one? This would be a drastic change in Rollup's architecture and how Rollup is used in general.

What you could do instead is adding output plugins that "know about

[2020-01-04 12:58] Tomekmularczyk opened #140 "@rollup/plugin-typescript does not emit declarations"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 2.0.1
- Rollup Version: 1.27.5
- Operating System (or Browser): MacOS
- Node Version: 13.5.0

### How Do We Reproduce?
https://repl.it/repls/SkeletalNanoAlgorithm

### Expected Behavior
It should generate typings files.

So I don't know whether this is a bug or I'm requesting a feature, but when I develop a package with Rollu

[2020-01-04 13:28] shellscape commented on #140
Thanks for opening an issue and using the repl.it template. This one is already covered by #105. (found by searching the issues for "definition") We're very aware of the problem and that it's very inconvenient, and it's something we're actively working on. Please keep an eye on that issue and associated pull requests.

[2020-01-04 13:28] #140 closed

[2020-01-04 23:25] shellscape commented on #102
Just sat down to look into this issue. Within the commonjs plugin codebase, I can't find anything that would prevent the assignment that everyone is talking about. This looks like it might be a problem with Rollup core with transforms to cjs. I'll have to investigate further.

[2020-01-05 01:21] shellscape commented on #14
#34 was merged and published a little while back. It now uses `this.resolve()` and should alleviate this issue. If it still pops up with the new version, please respond and we'll reopen.

[2020-01-05 01:21] #14 closed

[2020-01-05 02:52] shellscape commented on #113
I've got a pending fix for this on the `fix/attachScope-for` branch. Will PR once #141 is merged.

[2020-01-05 08:18] LarsDenBakker opened #142 "use syntheticNamedExports"
- Rollup Plugin Name: commonjs
- Rollup Plugin Version: any

### Feature Use Case
Commonjs exports can be very hard to detect. The new `syntheticNamedExports` feature will be very useful for this. See: https://github.com/rollup/rollup/pull/3295

### Feature Proposal
Implement `syntheticNamedExports` in the commonjs plugin.

If noone is picking this up already, I can take a look at it.

[2020-01-05 09:08] lukastaegert commented on #142
Not to my knowledge, would be really awesome if you picked this up! You can also add me as a reviewer if you want as I am really interested if the feature actually worked out how it should.

My hope is that as part of this, we can finally deprecated the infamous `namedExports` option, maybe show a warning message if it is used that it is ignored.

I *think*  it should not be too difficult: Just se

[2020-01-05 09:23] manucorporat commented on #142
Please! Give it a try, and ping me if something not working as expected. This will be awesome for CommonJS integration:

- dynamic named exports
- Exports is a proxy
- circular dependencies that add exports

I think we could leave the plugin as it is, so it keeps working in older versions of rollup, then is latest rollup missing exports fallback to the default export.

Or do we want to require the

[2020-01-05 10:48] LarsDenBakker commented on #142
I played around with this a bit, but it seems something isn't quite correct yet for exported synthetic named exports.

If I take your example, but change:
[code]

to:

[code]

the output becomes:

[code]

so the synthetic named exports aren't actually taken from the object.

I put a repro here: https://github.com/LarsDenBakker/rollup-synthetic-named-exports

[2020-01-05 10:52] manucorporat commented on #142
@LarsDenBakker i will take a look today

[2020-01-05 11:15] LarsDenBakker commented on #142
Besides that, I did get a fairly large project with a large variety of commonjs modules built and run with a modified version of the commonjs plugin. So thats great news :)

[2020-01-05 15:42] shellscape commented on #142
@LarsDenBakker would it be worthwhile for us to take a look at your fork?

[2020-01-05 16:23] manucorporat commented on #142
WIP PR to fix this issue:
https://github.com/rollup/rollup/pull/3319

[2020-01-05 19:29] LarsDenBakker commented on #142
Of course, I will make it into a PR

[2020-01-05 19:44] vincentriemer commented on #139
@shellscape that's actually the same error that's the subject of this issue. The error is confusing because it's displaying the un-transformed code and mapping the line of the transformed code to to it. That line where the unexpected token error occurs in the transformed code is instead something like:

[code]

...and it is the identifier `_parse-int` that's created by the CommonJS plugin which is

[2020-01-05 19:51] LarsDenBakker commented on #139
I ran into the same issue, but couldnt figure out what could be the cause of it.

[2020-01-05 19:58] vincentriemer commented on #139
I was able to fix the issue by making the following change on line 25 in [transform.js](https://github.com/rollup/plugins/blob/dbff484b6fecba394d3f781615f1983d26be2461/packages/commonjs/src/transform.js#L25)

[code]

I'm not familiar enough with the plugin's codebase to know if this is the exact place to make the fix but I hope it helps with the investigation.

[2020-01-05 19:59] shellscape commented on #139
@vincentriemer @LarsDenBakker thanks for that clarification. We'll have to take a look at what's being returned from commonjs to triage this I suppose, since I'm unable to get a proper bundle to output to disk.

[2020-01-05 20:02] vincentriemer commented on #139
Ah maybe I didn't show enough context, what I changed was making the `deconflict` function utilize `makeLegalIdentifier` where it previously wasn't. I don't think there are any issues in `makeLegalIdentifier`.

[2020-01-05 20:11] shellscape commented on #139
No worries, I'm distracted right now by a small child 😄

[2020-01-05 21:15] #49 closed

[2020-01-06 22:35] #39 closed

[2020-01-06 23:06] #82 closed

[2020-01-09 00:34] #69 closed

[2020-01-09 00:42] shellscape commented on #67
@hiendv @dkumor I've finally got the bandwidth to take a look at this. Can either of you break this down into a minimal reproduction using a repo or the [repl](https://repl.it/@rollup/rollup-plugin-repro)? If possible, without using the postcss plugin.

[2020-01-09 00:45] shellscape commented on #128
@yannayl if you have the chance, please try your reproduction again with a fresh dependency tree. We made some updates to `pluginutils` that I think might affect your scenario.

[2020-01-09 00:47] shellscape commented on #114
@NotWoods I've gone over the code from the deprecated repo and compared it to the code that was moved and I can't identify the regression. Any ideas?

[2020-01-09 00:55] shellscape commented on #139
@vincentriemer on your suggestion I've made that change in the `fix/commonjs/dash-name` branch and all tests pass. I need to come up with a good test for this and then I'll PR it. thanks for your help on this.

[2020-01-09 13:07] David-Else opened #153 "Documentation for Displaying Warnings for type errors"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 2.1

Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
I see in the changelog for 2.1
[code]
but also in the readme it says:
[code]
I am confused. To use this plugin I need to see the type errors, or why bother with TypeScript?

It seems you have added this essentia

[2020-01-09 14:08] #83 closed

[2020-01-09 14:35] #113 closed

[2020-01-09 14:40] #125 closed

[2020-01-09 14:56] shellscape commented on #56
@bterlson is this something you can pick up?

[2020-01-09 15:16] yannayl commented on #128
@shellscape I tried to update the all dependencies, it only updated rollup to v1.29.0. The problem remains.
Committed to the [repro repository](https://github.com/yannayl/rollup_strip_issue_128_repro/commit/b32ef2657c0eee794365498b13169723dfe6b9ae)

[2020-01-09 15:17] shellscape commented on #128
@yannayl you need to update `@rollup/pluginutils`, not `rollup` :)

[2020-01-09 15:44] shellscape commented on #74
I've begun work on this as part of a larger refactor. The `only` option will be renamed to `resolveOnly` and will mark non-matching dependencies as external as mentioned in https://github.com/rollup/rollup-plugin-node-resolve/issues/245#issuecomment-555889646

[2020-01-09 16:04] shellscape opened #154 "Repo: Validate Options"
- Rollup Plugin Name: all
- Rollup Plugin Version: current

### Feature Use Case

We have a lot of code in different plugins - and then none at all in many - which attempts to validate plugin options in various different ways. Unifying how plugin options are validated, asserting that they'r validated in each plugin, and unifying messaging around invalid options would be a benefit to users and main

[2020-01-09 16:33] yannayl commented on #128
I am not very fluent in JS development, so I might be missing something, but the repro does not directly depend on `@rollup/pluginutils`. I tried to add it anyway, e.g. `npm install @rollup/pluginutils` but it didn't make any difference. Is there a way to force `@rollup/plugin-{alias,strip}` to use a specific version of `@rollup/pluginutils`?

I tried to change the `package-lock.json` file and for

[2020-01-09 16:41] shellscape commented on #128
Your reproduction depends on @rollup/plugin-strip, which in turn depends on @rollup/pluginutils to create the filters that are giving you trouble. You need to make sure your lockfile (either NPM or Yarn) has the latest versions of @rollup/pluginutils, as well as @rollup/plugin-strip.

[2020-01-09 18:07] NotWoods commented on #153
We're working on rewriting the Typescript plugin so that it shows type errors. For the time being we've enhanced the errors reported by the `transpileModules` API.

[2020-01-09 18:22] dkumor commented on #67
While I haven't looked into why the issue is happening, so I'm not sure how to reproduce without postcss, I have recreated the minimal reproduction above (*with* postcss): https://repl.it/repls/EcstaticFaithfulPolygon

As mentioned above, the issue is not present in 5.0.3.

[2020-01-09 18:55] shellscape commented on #74
@NE-SmallTown I'm going to need a reproduction from you in order to know if I've fixed this successfully. Please choose one of the options for providing a reproduction below:

[2020-01-09 19:10] David-Else commented on #153
@NotWoods OK, great news you are working on it. I have code that is full of compile errors, but this plugin gives zero errors on transpile. Should I expect some kind of output to be displayed on the command line?

[2020-01-09 20:03] NotWoods commented on #153
Once we get type errors working then warnings will appear when you run Rollup. For now, you can run `tsc --noEmit` as a linting rule.

[2020-01-09 20:20] David-Else commented on #153
@NotWoods Cheers!

Is there a way to run rollup in watch mode so that when `plugin-typescript` has run then the command `tsc --noEmit` is run straight after? It seems a total waste to install another watcher to first run rollup then `tsc --noEmit`.

[2020-01-09 22:23] xinaesthete commented on #95
I believe this is indeed a bug.  Taking a working configuration and invoking this plugin causes the above error to appear, even before any configuration that would cause it to become effective is introduced.

My config:
[code]

I don't think interactions with other plugins are to blame, but I haven't tried a more minimalistic configuration as yet.  I am on a slightly more recent rollup version tha

[2020-01-09 22:33] shellscape commented on #95
@xinaesthete if you can put together a minimal reproduction, we'll reopen this as a bug to triage. Good repros are:

[2020-01-09 22:45] xinaesthete commented on #95
@shellscape  ok, but literally all that seems required to repro is to install and invoke the plugin...

[2020-01-09 22:51] xinaesthete commented on #95
hmm, first attempt at minimal repro in repl.it did not repro, will keep you posted.

[2020-01-09 23:37] shellscape commented on #95
That's why we ask for them :smile:

I would say next step is to create a new repo to try and reproduce the problem. If that doesn't show a reproduction, then we can try taking a look at a repo that _does_. A lot of the time these types of things boil down to a specific environment issue. Sometimes we can spot what it is, other times it takes a ground-up rebuild of a repo to identify the culprit (t

[2020-01-10 04:23] hiendv commented on #67
@dkumor's problem is caused by the vuetify `sideEffects` [setting](https://github.com/vuetifyjs/vuetify/blob/7ea1274a71bbd62f99a5ea609f31dd530f707dc8/packages/vuetify/package.json#L40).
- **vuetify** *intends* to mark sideEffects for `node_modules/vuetify/**/*.css`
- **@rollup/plugin-node-resolve** reads it as `node_modules/vuetify/*.css`
- The actual file is located at `node_modules/vuetify/dist/

[2020-01-10 08:24] xinaesthete commented on #95
It appears to be a Windows issue.  I've now tried with my mac this morning and the same project is ok there.  I'll set up a quick minimal repo and try it in a couple of different environments now.

[2020-01-11 01:41] ryanelian commented on #114
I can confirm that the latest plugins successfully built my library.

[2020-01-11 01:41] #114 closed

[2020-01-11 02:47] shellscape opened #159 "default export regression"
- Rollup Plugin Name: commonjs
- Rollup Plugin Version: latest
- Rollup Version: ^1.20.0
- Operating System (or Browser): MacOS
- Node Version: Node v12

### How Do We Reproduce?

- Check out the `repro/no-default` branch here.
- `cd packages/pluginutils`
- `pnpm run build` - suceeds

- `pnpm rm rollup-plugin-commonjs && pnpm add @rollup/plugin-commonjs`
- `pnpm run build`

### Expected Behavior

[2020-01-11 03:41] shellscape commented on #159
OK so when updating all of the plugins to their `@rollup` scoped versions, and removing this from the `commonjs` options:

[code]

to

[code]

Things magically work again. I'm at a loss. I originally added that `include` path because Rollup was having a hard time seeing the symlinks from pnpm.

Perhaps it's a Rollup update? (@lukastaegert ?)
Perhaps this is a pnpm update that's responsible?
Perhap

[2020-01-12 21:19] xinaesthete commented on #95
I only just noticed, it does behave differently on macos, but still doesn't work properly.  On mac, no error is reported, but a file is written with a name like `'_rollup:plugin-multi-entry:entry-point.js'`

[2020-01-13 00:54] shellscape commented on #119
The `addOutput` approach is actually something that `webpack-plugin-serve` is using to attach itself to multiple compiler/config instances. In practice, it works very nicely.

[2020-01-13 05:09] LarsDenBakker commented on #119
Im using a similar approach now as well, I guess its the best we can do. Do you think this is something we could add to the html plugin?

[2020-01-13 12:44] shellscape commented on #119
yeah I've actually started work on that last night. I need to write some tests but the change was relatively easy.

[2020-01-13 21:37] wuweiweiwu commented on #2
@vladshcherbin I can help migrate `rollup-plugin-copy` if you don't mind!

[2020-01-16 12:52] nathancahill opened #164 "CommonJS circular dependencies with transpiled Babel imports"
- Rollup Plugin Name: @rollup/plugin-commonjs
- Rollup Plugin Version: 11.0.1
- Rollup Version: 1.29.0
- Operating System (or Browser): All
- Node Version: 10, 11, 12

### How Do We Reproduce?

Using @rollup/plugin-commonjs with `postcss` does not correctly resolve internal files within `postcss`, for example `./lib/container.js` from `./lib/rule.js`. The root cause seems to be circular dependenci

[2020-01-16 13:31] Haringat commented on #130
@matthewp I'm curious... Would it work if you first imported the schema.js and then imported the main joi entrypoint?

[2020-01-16 14:25] shellscape commented on #164
Thanks for the issue :beer:

`@rollup/plugin-commonjs` is known to have trouble with circular references. This is covered in #130. While your reproduction is different, the symptoms are the same. I'm going to drop your repro and description into that issue so we can keep the circular discussions in one spot.

[2020-01-16 14:25] #164 closed

[2020-01-16 14:26] shellscape commented on #130
From #164:

### How Do We Reproduce?

Using @rollup/plugin-commonjs with `postcss` does not correctly resolve internal files within `postcss`, for example `./lib/container.js` from `./lib/rule.js`. The root cause seems to be circular dependencies, caused by mixing `import` and `require` statements before Babel transpilation: https://github.com/postcss/postcss/blob/master/lib/container.es6#L609

He

[2020-01-16 15:50] revelt opened #165 "incorrect deprecation message on npm CLI for @rollup/plugin-strip"
- Rollup Plugin Name: @rollup/plugin-strip
- Rollup Plugin Version: n/a
- Rollup Version: n/a
- Operating System (or Browser): n/a
- Node Version: n/a

### How Do We Reproduce?

The deprecation message on npm is wrong:
<img width="924" alt="depr" src="https://user-images.githubusercontent.com/8344688/72539589-6da4c500-3877-11ea-8a5c-8802982e450c.png">

### Expected Behavior

npm CLI should say `Th

[2020-01-16 15:58] matthewp commented on #130
@Haringat It might very well, but as I had to switch to webpack for this project I am not able to test and confirm that at this time.

[2020-01-17 16:00] vdegenne opened #166 "ignores 'import ... =' in cjs output"
- Rollup Version: 1.29.0
- Operating System (or Browser): Fedora 31/Chrome (last)
- Node Version: 13.6.0

### How Do We Reproduce?
- install `koa-bodyparser`, `@types/koa-bodyparser`, `rollup` and typescript plugins
- then create the files
*input.ts*
[code]
*rollup.config.js*
[code]
- run `rollup` targeting `cjs`

### Expected Behavior
*output.js*
[code]
output of vanilla typescript.

### Actual B

[2020-01-17 19:12] shellscape commented on #166
_If you are sure this is a bug, please take the time to refile this issue **using the issue template**._

Hey there, thanks for opening an issue - Unfortunately you missed (or may have disregarded) the message about issue templates being _required_. Because our issue template was removed, we assume that this is a support request, and that's not something we offer here. Also, if you refile, please

[2020-01-17 19:15] vdegenne commented on #166
I am very confused, now it works after I went to take my food,
rollup digests the following :

[code]

Maybe it was just a temporary file or the watcher messing the output I don't know. Sorry for this useless matter.

[2020-01-18 12:55] vdegenne commented on #166
I reopen the issue and I changed my original post using the issue template because I think this is a bug. I still doesn't work.

[2020-01-18 13:28] lukastaegert commented on #166
Another thought from the Rollup issue:
- Typescript NEEDS to be configured to output CJS in order for this import style to be supported at all. Not sure if the plugin supports that
- Rollup NEEDS the CJS plugin in order to consume such output

My best guess is that the plugin tries to target ESM as this is the only format natively support by Rollup and at the same time does not emit the warning yo

[2020-01-18 14:03] vdegenne commented on #166
You mean in the `tsconfig.json` ? I set `module` to `commonjs` already.

I also included the CJS plugin in the plugins array but still the import is not converted in the output.

I try everything possible before filing an issue and this particular one was bugging me to the point I had to open one, thought this could interest you because as a fallback and as you mentioned I can use the classic `imp

[2020-01-18 15:52] NotWoods commented on #166
The plugin should work if the module type is set to commonjs and the commonjs plugin is included. We have an existing test for this behavior. I'll look into it and see if my other changes nfix the issue.

[2020-01-18 17:53] trbrc opened #167 ""firstpass" regex causes labels not to be removed (@rollup/plugin-strip)"
- Rollup Plugin Name: @rollup/plugin-strip
- Rollup Plugin Version: 1.3.1
- Rollup Version: 1.28.0
- Node Version: 12.13.1

### How Do We Reproduce?

REPL.it reproduction: https://repl.it/repls/KookyMicroGui

### Expected Behavior

All labels `y` should be removed, as specified in the `strip` config in `rollup.config.js`.

### Actual Behavior

The `y` label in `input/fails.js` is not removed.

---

[2020-01-18 17:57] frank-dspeed opened #168 "data uri should handle none base64 and also it should hornor dynamic imports"
- Rollup Plugin Name:
- Rollup Plugin Version:
data-uri
### Expected Behavior / Situation
should accept plain text data uris and should accept dynamic imports for all my scenarios
https://github.com/direktspeed/esm-loader

### Actual Behavior / Situation
don't works for anything usefull don't works with dyanmic import and that is used to return a ESM Module

### Modification Proposal
let this work

[2020-01-18 19:22] shellscape commented on #168
Sorry, but I don't understand what you're trying to convey about the base64 strings. Something must be getting lost in translation.

https://github.com/direktspeed/esm-loader

I'm really not sure what to do with this statement or the repo you've linked to. Most of the maintainers here aren't going to have the time necessary to parse your project and the project's needs. You'll have to do a better

[2020-01-18 19:31] shellscape commented on #167
Thanks for reporting this and for the great reproduction and info. We'll get on it as soon as possible. If you have an immediate need and would like to PR a fix, we'd be happy to review one!

[2020-01-18 21:23] trbrc commented on #167
I did a PR with what I think is the right fix, but would be grateful if someone who is already familiar with the test setup would add a test.

In the mean time I found that it's easy to work around. Simply use the plugin twice, once for the labels, once for the functions, and make sure to specify `functions: []` to override the default for the instance that strips labels.

(As an aside, if I may:

[2020-01-19 18:05] frank-dspeed commented on #168
Implementing it my self thanks for your valueable time.

[2020-01-19 18:05] #168 closed

[2020-01-22 11:03] brettz9 opened #171 "Inconsistency with import/export of pluginutils and commonjs plugin"
- Rollup Plugin Name:  @rollup/plugin-commonjs
- Rollup Plugin Version: `master` (11.0.1)
- Rollup Version: N/A
- Operating System (or Browser): N/A
- Node Version: N/A

### How Do We Reproduce?

1. Look at https://github.com/rollup/plugins/blob/master/packages/commonjs/src/index.js#L5 , https://github.com/rollup/plugins/blob/master/packages/commonjs/src/transform.js#L4 , and https://github.com/ro

[2020-01-22 11:24] neoel opened #172 "Not encoding as base64 breaks setups with xml escaping"
[This update broke my workflow](https://xkcd.com/1172/).

#136 should at least introduce an option of forcing base64 encoding I think.

[2020-01-22 12:12] xinaesthete commented on #95
Not sure why this is still "closed".

[2020-01-22 14:45] shellscape commented on #172
_If you are sure this is a bug, please take the time to refile this issue **using the issue template**._

Hey there, thanks for opening an issue - Unfortunately you missed (or may have disregarded) the message about issue templates being _required_. Because our issue template was removed, we assume that this is a support request, and that's not something we offer here. Also, if you refile, please

[2020-01-22 14:45] #172 closed

[2020-01-22 14:57] shellscape commented on #171
Thanks for writing this up. I've been hunting for potential culprits for #159 and appreciate the heads up on a possible link. We'll dive into this as soon as possible.

[2020-01-22 15:02] seetdev opened #174 "@rollup/plugin-alias documentation referencing old plugin rollup-plugin-node-resolve"
- Rollup Plugin Name: @rollup/plugin-alias
- Rollup Plugin Version: 3.0.0

Documentation Is:

- [ ] Missing
- [] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
The README for @rollup/plugin-alias is referencing the old plugin rollup-plugin-node-resolve.
[code]

### Your Proposal for Changes
Should it reference to https://www.npmjs.com/package/@rollup/plugin-node-resolve an

[2020-01-22 15:03] neoel commented on #172
@shellscape Sorry, was unaware there was anything useful in the tempalte. I updated the issue, could you reopen it

[2020-01-22 15:10] shellscape commented on #172
@neoel this is frustrating for maintainers. The clip below is highlighted quite prominently in the issue template.

While I appreciate you replacing the removed template, you've removed parts of it and disregarded the instructions in the template, which pretty much nukes why we have it there in the first place. Most notably:

[code]

There can be a leaning curve when first starting to work with op

[2020-01-22 15:12] shellscape commented on #174
Yes it should! Thanks for reporting this.

[2020-01-22 15:24] neoel commented on #172
@shellscape Creating a Repl for this case is not going to be minimal, also this bug does not really fit your template nicely. I've updated it to explain the problems it has. Hope this is sufficient.

[2020-01-22 15:25] shellscape commented on #172
Sorry, we don't have the bandwidth to triage issues without reproductions.

[2020-01-22 15:36] neoel commented on #172
NVM then as #173 hopefully fixes the bug. This bug is accepted in a #136 btw, where the author and reviewer weren't aware of the breakages (as indicated by the template), as with the security concerns of allowing plain html in a src tag.

[2020-01-22 19:11] seetdev commented on #174
I have one more question, I am trying out rollup recently and I think there might be a fair amount of links in the documentation in the other plugin README.md. If I am fixing them in the process what will be the easiest way for the maintainers. Should I combine multiple plugins into 1 issue and PR or should every plugin have it's own issue and PR? Wondering what is the best process to create least

[2020-01-22 19:45] shellscape commented on #174
If you'd like to see your commits in the changelog for each plugin, then separate PRs. If you don't care about that, one PR is good too.

[2020-01-23 01:28] seetdev commented on #174
Thanks. I will work though the other pages and put them in another PR.

[2020-01-23 08:53] Andarist commented on #171
@shellscape I believe those two issues are different - this one is just about exported shape of the pluginutils package (so contained to `@rollup/pluginutils` package), while the other one is about `@rollup/plugin-commonjs` not being able to resolve certain stuff (it's contained to `@rollup/plugin-commonjs`).

[2020-01-23 17:42] paulrostorp commented on #105
What is the status of this ?

[2020-01-23 18:03] NotWoods commented on #105
Very close to being ready! Once #162 is merged I'll put up a PR adding typechecking to the plugin 😄

[2020-01-24 00:32] #171 closed

[2020-01-24 13:40] seetdev commented on #174
@shellscape I think we are good to close this. I went through the documentation and it appears that the other one that might need to change is @rollup/pluginutils. But the package is still using the old versions so I guess rather than updating the documents for that it will be looking to upgrade the dependencies first.

[2020-01-25 03:33] #174 closed

[2020-01-25 04:26] NotWoods commented on #71
This is fixed with @rollup/plugin-typescript version 3.0.0!

[2020-01-25 04:26] #71 closed

[2020-01-25 04:27] NotWoods commented on #153
We now have typechecking in @rollup/plugin-typescript version 3.0.0! That should alleviate the need for two watchers.

[2020-01-25 04:27] #153 closed

[2020-01-25 04:29] NotWoods commented on #105
@rollup/plugin-typescript version 3.0.0 will have typechecking and support emit-less types, so I'm going to close this ticket. #61 will track generating `.d.ts` files.

[2020-01-25 04:29] #105 closed

[2020-01-25 08:05] JounQin opened #179 "Option 'declarationMap' cannot be specified"
- Rollup Plugin Name: `@rollup/plugin-typescript`
- Rollup Plugin Version: `2.1.0`
- Rollup Version: `1.29.0`
- Operating System (or Browser): macOS 10.15.2 (19C57)
- Node Version: v12.14.1

There is no error when using `rollup-plugin-typescript@1.0.1`

### How Do We Reproduce?

https://github.com/rx-ts/pkgr/tree/repro/rollup

branch: `repro/rollup`

run `yarn && yarn build:r`

### Expected Behavi

[2020-01-25 18:46] David-Else commented on #153
@NotWoods Looking forward to this update being published on NPM :)

[2020-01-25 20:09] hasangenc0 commented on #71
Hi, congrats to fix this bug 🎉.
When the new version will be released?

[2020-01-25 20:31] christopherthielen commented on #105
@NotWoods should #61 be unlocked if it's going to be used to track emitting types?

[2020-01-25 20:42] NotWoods commented on #105
Yes, it was probably left locked by accident. @shellscape can you unlock it when you have a chance?

[2020-01-26 00:38] MaxMilton opened #182 "pluginutils broken type; estree-walker has no exported member Node"
- Rollup Plugin Name: `@rollup/pluginutils`
- Rollup Plugin Version: `3.0.5`
- Rollup Version: `1.29.1`
- Operating System (or Browser): Arch Linux
- Node Version: `13.7.0`

### How Do We Reproduce?

1. Import any method from `@rollup/pluginutils` in a TypeScript project
2. Attempt to build the project

See minimal repro: <https://github.com/MaxMilton/repro-rollup-plugin-utils-types>

### Expected

[2020-01-26 15:06] shellscape commented on #105
Done

[2020-01-27 17:58] #74 closed

[2020-01-27 20:36] shellscape commented on #182
We'd be happy to review a PR that resolves this.

[2020-01-27 20:39] shellscape commented on #179
Thanks for the issue. Because of time being in short supply, please break down your reproduction to something more minimal, ideally using the repl.it link provided.

[2020-01-27 20:41] shellscape commented on #165
Thanks! Fixed!

[2020-01-27 20:41] #165 closed

[2020-01-27 21:08] rsmogura opened #183 "Inlined SVG with Stencil in Chrom causes errors"
- Rollup Plugin Name: image
- Rollup Plugin Version: 2.0.1
- Rollup Version: ?
- Operating System (or Browser): Chrome
- Node Version: 12.13.1

### How Do We Reproduce?

Use instructions provided in Plugin `README.MD`. Inline SVG using import statements, and pass in TSX as image `src` (code samples below)

### Expected Behavior

SVG displayed in browser

### Actual Behavior

SVG not displayed in b

[2020-01-27 21:17] shellscape commented on #183
Thanks for reporting the issue. This is being tracked in #173.

[2020-01-27 21:17] #183 closed

[2020-01-28 08:26] JounQin commented on #179
Hmm... After upgrading to `@rollup/plugin-typescript@3.0.0`, it works. 😀

[2020-01-28 08:26] #179 closed

[2020-01-28 10:24] David-Else opened #186 "plugin-typescript not updating type checking on save in watch mode"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version:v3.0.0
- Rollup Version:v1.30.1
- Operating System (or Browser):Linux
- Node Version:12

### How Do We Reproduce?

create these files:
tsconfig.json
[code]
[code]
[code]
and run `rollup -cw`. It works, now change to and save:
[code]
It works, now gives type error... great... BUT, change it back to the correct type and it stays

[2020-01-28 19:36] noBlubb commented on #95
I ran into the same issue today, maybe this works as repro for you:

We build a few small apps and try to export them as single file components. On windows this fails with the identical expection as given above while the pipeline running in a node container prints the expected output, but creates only a _rollup:plugin-multi-entry:entry-point.js file. Is this related to the integration with other p

[2020-01-28 19:47] shellscape commented on #95
We definitely appreciate the interest you have in solving this problem on your systems. However, we really , really need everyone to abide by the requirements for reporting an issue. In the issue template we include a link to instructions for creating a _minimal reproduction_. For convenience, that link is https://gist.github.com/Rich-Harris/88c5fc2ac6dc941b22e7996af05d70ff#how-to-create-a-minimal

[2020-01-28 20:11] noBlubb commented on #95
I was able to boil down my case to this repro - please tell me if I can improve this in any way to make debugging easier for you: https://repl.it/repls/StaidRegularBlogware

[2020-01-28 20:27] atomicpages commented on #182
Fixed by 2ae08ebacaf9981252664d47e073dbac2a0447e7. Can you please publish `7.0.1`?

[2020-01-28 20:29] shellscape commented on #182
@atomicpages thanks for referencing the commit, but please don't ask for package publishes. It adds to the noise and isn't necessary. All plugin packages are published as we have time.

[2020-01-28 20:29] #182 closed

[2020-01-28 20:30] atomicpages commented on #182
@shellscape it's definitely _not_ noise. It's blocking if you use `tsc` and you depend on this package -- the build fails because it a bad type check.

[2020-01-28 20:51] noBlubb commented on #95
After reviewing https://github.com/rollup/rollup/issues/1435 I realized that I may be misusing the multi-entry plugin, as I want to export multiple files in the end:
[code]

[2020-01-29 04:32] MaxMilton commented on #182
Thanks for the quick feedback guys and thanks @NotWoods for the fix! :trophy:

[2020-01-29 09:01] smartrejames opened #188 "plugin-typescript V3 ignored noEmitHelpers"
- Rollup Plugin Name: plugin-typescript
- Rollup Plugin Version: 3.0.0
- Rollup Version: 1.30.1
- Operating System (or Browser): macOS 10.15.2
- Node Version: v8.17.0

### How Do We Reproduce?

Change tsconfig.json "noEmitHelpers" to true then build.

### Expected Behavior

The output js file should not contain typescript helper functions like __extends, __assign.

### Actual Behavior

The output

[2020-01-29 09:06] smartrejames commented on #188
My bad, README mentions that tslib always been used.

[2020-01-29 09:20] smartrejames commented on #188
Another problem is output did not contain tslib.__xxx too, does it mean importHelper not work?

[2020-01-30 00:00] eight04 commented on #113
Some problems:

1. `ForStatement` and `ForInStatement` are not fixed.
2. The declaration should be added to the scope of the loop. Currently, the entire declaration is ignored.

Repro:
https://repl.it/@eight041/attachScopes-and-for-scope-1

Expected:
[code]
Actual:
[code]

Another question: should the `scope` object be assigned to `ForStatement` in this case? Otherwise, users have to inspect the l

[2020-01-30 14:31] fobdy opened #189 "Obsolete types from 'estree-walker' are used"
- Rollup Plugin Name: `@rollup/pluginutils`
- Rollup Plugin Version: `3.0.6`
- Rollup Version: `1.30.1`
- Operating System (or Browser): macOS `10.13.6`
- Node Version: `12.12.0`

### How Do We Reproduce?

Just use one of the latest rollup plugins that have `@rollup/pluginutils` dependency (`^3.0.0`).

### Expected Behavior
Everything going fine

### Actual Behavior
[code]

It seems that latest pu

[2020-01-30 14:33] shellscape commented on #189
Please search issues before opening new ones. This has been previously reported and a fix has been merged.

[2020-01-30 14:33] #189 closed

[2020-01-31 13:14] AaronMcCloskey opened #190 "Rollup import of images compiling as a const in build file"
- Rollup Plugin Name: @rollup/plugin-image
- Rollup Plugin Version: ^2.0.1
- Rollup Version: ^1.31.0
- Operating System (or Browser): iPad Mini 9.3.5 (Safari)
- Node Version: v10.16.2

### How Do We Reproduce?

Import image in react component
[code]

Using the following config

[code]

### Expected Behavior

Image import to compile as a var in build file

### Actual Behavior

In the console I get

[2020-01-31 13:23] shellscape commented on #190
Thanks for opening an issue. A few things:

1. I see that you're using a number of deprecated plugins, you'll want to remedy that before we can triage.
2. The code you provided is appreciated, but does not meet our requirements for a minimal reproduction, as noted in the issue template.

It looks like the image plugin is doing what it's supposed to, but the const isn't being converted to var somew

[2020-01-31 14:10] shellscape commented on #188
@smartrejames thanks for the issue, but you didn't follow the issue template. We require a minimal reproduction to triage all bugs. Please refile your second question as a new issue, following the instructions for providing a reproduction, if you feel that's a bug.

[2020-01-31 14:10] #188 closed

[2020-01-31 15:34] AaronMcCloskey commented on #190
So, I think I've located the issue.

The import

[code]

Points to a directory that must be outside what babel is attempting to compile. Moving the image into the same directory

[code]

compiles to

[code]

However, the following (with the `/` in front of the filename)
[code]

compiles to

[code]

I made a [REPL](https://repl.it/repls/TenderValidCases) with a pretty barebones config with both kin

[2020-01-31 16:10] shellscape commented on #190
Thanks for looking into it. This looks like it might be an issue with the babel plugin (which we haven't migrated here just yet), because the output from image still looks good. @Andarist any thoughts? We'll take a look at the REPL as soon as we're able to try and narrow it down further.

[2020-02-01 04:57] NotWoods commented on #186
I've found that if you change it back to the exact same text, it hits some cache in Rollup. Changing the code to something different but valid will fix the error, such as
[code]

This might need a fix in Rollup because I can't figure out how to detect this as a plugin. @lukastaegert any thoughts?

[2020-02-01 04:59] NotWoods commented on #166
@vdegenne Does configuring the plugin as `typescript({ module: 'commonjs' })` fix the issue?

[2020-02-01 19:13] neoel opened #192 "PR #136: needs to be reverted, broke svg's"
Since #136 (a month) handling of svg's is broken.
It stated incorrectly:

And therefor it needs to be reverted.
Since then issues have been raised (and promptly closed :(), and PR's supplied, and closed or not yet merged.

PR closed and not merged:
- #184
- #158

PR Still open (will fix): #173

Issues opened:
 - #172
 - #183

- Rollup Plugin Name: plugin-image
- Rollup Plugin Version: 2.0.1
- Roll

[2020-02-01 19:45] shellscape commented on #192
It's an edge case on chrome that's been reported a number of times. Please refrain from opening such dramatic issues, and from opening duplicates. When #173 is merged the issue will be resolved. Hard code to the previous version if you're impacted by it.

[2020-02-01 19:45] #192 closed

[2020-02-01 21:21] rhanka opened #193 "node-resolve 7.1.0 breaks import of submodule of tierce party"
- Rollup Plugin Name: node-resolve
- Rollup Plugin Version: 7.1.0
- Rollup Version: 1.31
- Operating System (or Browser): Ubuntu 18.04
- Node Version: 13.7.0

### How Do We Reproduce?

import icon of a @fortawesome library :

[code]

using following rollup.config.js

[code]

### Expected Behavior

should import faLightbulb as declared in @fortawesome/free-regular-svg-icons/index.js
like in 7.0.0
b

[2020-02-01 22:21] shellscape commented on #193
Please share a proper reproduction as per the issue template or we'll have to close this one without triage.

[2020-02-01 22:36] arcanis opened #194 "node-resolve 7.1.0 regression"
- Rollup Plugin Name: node-resolve
- Rollup Plugin Version: 7.1.0

### How Do We Reproduce?

https://github.com/arcanis/rollup-node-resolve-regression

[code]

[code]

### Expected Behavior

Should build without externals.

Cf https://github.com/yarnpkg/berry/runs/420956592?check_suite_focus=true

### Actual Behavior

Lodash cannot be rebuilt.

Cf https://github.com/yarnpkg/berry/runs/421084236?ch

[2020-02-01 22:37] shellscape commented on #194
Please share a proper reproduction as per the issue template or we will be unable to triage your issue.

[2020-02-01 22:44] arcanis commented on #194
@shellscape I've added a repository (https://github.com/arcanis/rollup-node-resolve-regression)

[2020-02-01 22:45] shellscape commented on #194
Perfect, thanks.

[2020-02-01 22:49] arcanis commented on #194
Digging a bit, the problem seems to come from this line:
https://github.com/rollup/plugins/blob/master/packages/node-resolve/src/index.js#L205

It seems to be throwing `true`, for some reason 🤔

[2020-02-01 22:56] arcanis commented on #194
I'll close this issue - I tracked it down to a problem in our own Yarn layer which doesn't properly propagate the `util.promisify.custom` property, hence the problem on `promisify`. Sorry for the blip 🙂

[2020-02-01 22:56] #194 closed

[2020-02-01 23:17] shellscape commented on #194
No worries. Yours was the second regression report so we treated it as valid. Any more info you can give that we can use to document the scenario?

[2020-02-01 23:25] arcanis commented on #194
In order to let the package files be read directly from their zip storage we currently need to setup a layer on top of the `fs` module. This layer was doing something similar to the following:

[code]

The problem is that by doing this we were losing the `util.promisify.custom` symbol, hence why the function was throwing `true` (since `exists` doesn't have an `err` return). We should have done:

[

[2020-02-01 23:48] rhanka commented on #193
Is the format no okay or do you have a problem with reproducting the issue ?

[2020-02-02 00:09] shellscape commented on #193
It's pretty clear in the issue template what we are asking for:

I'm also unsure what "tierce" is. We won't triage your issue until you provide a proper reproduction.

[2020-02-02 00:11] shellscape commented on #194
That's actually a great point and a good use case for the synchronous version. Thanks for the extra explanation.

[2020-02-02 10:34] Andarist commented on #190
Ill take a look at this.

[2020-02-02 10:58] rhanka commented on #193
Ok sorry for that. You I close it till I make the update (tonight)

[2020-02-02 10:58] #193 closed

[2020-02-02 12:22] cortopy commented on #70
@shellscape I don't think it's fixed. I'm getting

[code]

when using `extends: 'my-package` where 'my-package' is a module in my monorepo

[2020-02-02 16:29] shellscape commented on #70
@NotWoods any thoughts?

[2020-02-02 16:30] meteorlxy commented on #70
Uh it's not solved I think. So maybe I should open an issue in the new repo?

[2020-02-02 20:59] Andarist commented on #190
Ok, I know what is going on - this just happens because the transformed file still has `.svg` extension and Babel is not instructed to transpile those (otherwise it would often crash on unexpected syntax etc), you can fix this by adding `.svg` to extensions:
[code]

[2020-02-02 21:00] shellscape commented on #190
Awesome, thank you. I'll make sure we add that to the README.

[2020-02-02 21:00] #190 closed

[2020-02-03 06:41] dumbmatter opened #195 "node-resolve v7.1.0 regression - looks like it's trying to use a CommonJS file when it should be using an ES module file?"
- Rollup Plugin Name: node-resolve
- Rollup Plugin Version: 7.1.0
- Rollup Version: 1.31.0
- Operating System (or Browser): Ubuntu 19.10
- Node Version: 13.7.0

### How Do We Reproduce?

https://github.com/dumbmatter/rollup-plugin-node-resolve-7.1.0

Clone the repo, `npm install`, `npm run build`.

### Expected Behavior

The command should complete with no errors.

### Actual Behavior

I see this

[2020-02-03 07:13] TrySound commented on #195
I fixed this by adding `mainFields: ['browser', 'module', 'main]` instead of `browser: true` in my project.

[2020-02-03 09:17] Robinfr commented on #195
Same happens when using the Mobx library.

[2020-02-03 10:10] vanruesc commented on #195
Can confirm that the behaviour changed from `7.0.0` to `7.1.0`.

The documentation says that the default [mainFields](https://github.com/rollup/plugins/tree/master/packages/node-resolve#mainfields) are `['module', 'main']`, but the code says otherwise: https://github.com/rollup/plugins/blob/master/packages/node-resolve/src/util.js#L36

[2020-02-03 10:20] TrySound commented on #195
Ah, right. The order is confused.

[2020-02-03 12:56] panoply commented on #44
Yeah, nah.

[code]

[2020-02-03 14:31] #195 closed

[2020-02-03 18:37] NotWoods commented on #70
I'm going to reopen the issue and try to solve the failing use cases described here.

[2020-02-04 07:06] vdegenne commented on #166
@NotWoods Sorry for the late reply.
I tried as you said, now it includes `const bodyParser = require('koa-bodyparser')` which is great but now all my default local imports are excluded from the build for instance

[code]

is translated to

[code]

I'd expect rollup to bundle that as well because they are local sources (not from the `node_modules` directory).

I tried to update to the last version

[2020-02-04 17:16] unlight commented on #95
Encountered with same issue. To fix this you need explicitly set `output.file` (e.g. `dist/bundle.spec.js`)
This plugin has entry `const entry = '\0rollup:plugin-multi-entry:entry-point';` which contains incorrect colon and \0 symbols for file names in windows.

And looks like rollup tries to write to `dist\\0rollup:plugin-multi-entry:entry-point.js`

[2020-02-05 12:12] QuentinCaffeino opened #197 "[feature] plugin-image, option to extract images"
- Rollup Plugin Name: plugin-image
- Rollup Plugin Version:

### Feature Use Case
Transforming image to base64 isn't very smart size wise and also ci/cd could apply some optimizations to the raw images later.

### Feature Proposal
To add some property that would allow to extract used images into dest folder.

[code]

### Why not just straight out copy?
To omit exporting and applying extra processi

[2020-02-05 12:47] shellscape commented on #197
Thanks for opening a new feature request. It sounds like you're after https://www.npmjs.com/package/rollup-plugin-image-files, which does exactly what you've described. Generally speaking, we try not to duplicate the efforts of community members' plugins (unless of course the plugin is widely used and becomes unmaintained).

We'll decline for now to add this feature set to `plugin-image`, and  enc

[2020-02-05 12:47] #197 closed

[2020-02-05 12:50] QuentinCaffeino commented on #197
I've made my research before writing, plugin description says that it is made for React Native.

[2020-02-05 12:57] shellscape commented on #197
Yes but did you try it? If it doesn't quite meet your needs, please ask the author to work with you to improve it.

[2020-02-06 16:47] kristjankoppel opened #200 "Error on importing legacy plugin Uncaught TypeError: Cannot set property 'payment' of undefined"
Hi!

I'm trying to import a legacy plugin in my JS file.
And i use Rollup legacy plugin to be able import https://github.com/stripe/jquery.payment plugin in my final file. The import is made but then JS hits me with  "Uncaught TypeError: Cannot set property 'payment' of undefined" error that comes after this legacy plugin is imported.

Is there i'm missing or this won't work in that way and i'm tr

[2020-02-06 17:18] shellscape commented on #200
_If you are sure this is a bug, please take the time to refile this issue **using the issue template**._

Hey there, thanks for opening an issue - Unfortunately you missed (or may have disregarded) the message about issue templates being _required_. Because our issue template was removed, we assume that this is a support request, and that's not something we offer here. Also, if you refile, please

[2020-02-06 17:18] #200 closed

[2020-02-07 14:55] tkalliom opened #202 "conditional require is replaced with empty if block"
- Rollup Plugin Name: commonjs
- Rollup Plugin Version: 11.0.2
- Rollup Version: 1.31.0
- Operating System (or Browser): Linux
- Node Version: 10.15.2

### How Do We Reproduce?
See https://repl.it/repls/SilkyOurStruct, or alternatively:
[code]

### Expected Behavior
Rollup produces a valid output, possibly with the oneliner `if` block replaced with just evaluating the condition.

### Actual Behavi

[2020-02-07 18:03] #139 closed

[2020-02-08 08:02] timonson commented on #61
Is anybody working on this?

[2020-02-08 14:12] matt3224 opened #203 "Plugin Alias v3 throws error"
- Rollup Plugin Name: Alias
- Rollup Plugin Version: 3.0.1
- Rollup Version: 1.31.0
- Operating System (or Browser): macOS 10.15.3
- Node Version: 13.8.0

### How Do We Reproduce?

[https://repl.it/repls/WatchfulUnsightlyStruct](https://repl.it/repls/WatchfulUnsightlyStruct)

### Expected Behavior
Expect to compile as per v2.2.0

### Actual Behavior
Throws mysterious error `(plugin alias) TypeErro

[2020-02-08 17:22] NotWoods commented on #61
Yes, it's being worked on. Contributor support is also welcome!

[2020-02-09 00:39] NickGlenn opened #204 "Failing on compilation due to `TS2403: Subsequent variable declarations must have the same type.`"
- Rollup Plugin Name: typescript
- Rollup Plugin Version: 3.0.0
- Rollup Version: 1.30.1, 1.27.14
- Operating System (or Browser): Windows, OSX
- Node Version: 8.10.0 (Win), 12.15.0 (Win), 12.15.0 (OSX)

### How Do We Reproduce?

[Repl.it Project Replicating the Issue](https://repl.it/repls/PeskyBigheartedForms)

I've seen this occur on a couple different libraries know, but the most notable one i

[2020-02-09 00:56] NotWoods commented on #204
You can tell the plugin to compile anyways by [setting `noEmitOnError` to false](https://github.com/rollup/plugins/tree/master/packages/typescript#noemitonerror).

[2020-02-09 02:42] NotWoods commented on #204
If you explicitly set `lib`, does the error go away?

[2020-02-09 03:17] NickGlenn commented on #204
Hey @NotWoods ,

Sadly, `noEmitOnError` doesn't force a build in this case and explicitly setting `lib` doesn't solve the issue either. I'm _guessing_ the cause is that `react-router-dom` brings in `@types/history`, which has a `History` interface that clashes with the `"dom"` library's `History` type. Did something change with how TS globals are handled since the previous version of this plugin?

[2020-02-09 03:23] NotWoods commented on #204
Yes, the current version turns on typechecking as we previously did not do any checks beyond transpiling the file. If this compiles with Typescript normally the plugin should handle it, so I'll try to fix the bug.

[2020-02-09 06:48] NickGlenn commented on #204
Awesome, thanks @NotWoods

[2020-02-09 11:41] bennypowers opened #205 "Optional Chaining Causes Build to Fail"
- Rollup Plugin Name: `@rollup/plugin-typescript`
- Rollup Plugin Version:  ^3.0.0
- Rollup Version: ^1.31.0
- Operating System (or Browser): Mac OS
- Node Version: v12.3.1

### How Do We Reproduce?

[code]

### Expected Behavior
Compiles

### Actual Behavior
Fails with

[code]

I now present the relevant contents of said repro repo

## package.json
[code]
## rollup.config.js
[code]
## index.ts
[c

[2020-02-09 12:16] bennypowers commented on #205
I was able to reproduce with this test:

[code]
fixtures/optional-chaining/main.ts:
[code]

[code]

[2020-02-10 16:30] luwes commented on #205
related to this `@rollup/plugin-commonjs` also breaks on this syntax.

should work I think, use case on our end is that we have a `--faster` build which excludes Babel and outputs a modern ES bundle which works on the latest Chrome.

[2020-02-10 16:39] shellscape commented on #205
/cc @NotWoods

[2020-02-10 18:33] bennypowers commented on #205
I might not be able to contribute the fix, but if it's alright with you, may I open a PR with the tests (for maintainers to finish up?)

[2020-02-10 20:09] NotWoods commented on #205
Yes, that would be great!

[2020-02-11 08:10] NotWoods commented on #154
I'm happy to add runtime validation, but I don't want to use `joi` since its big and can't be tree-shaken.

I like [superstruct](https://github.com/ianstormtaylor/superstruct), which has a super simple API and lets you add additional validator that just return a boolean. Then `pluginutils` can just export functions that return true or false, making it easy to reuse with other validation systems if

[2020-02-11 11:28] shellscape commented on #154
Curious, why does tree shakeable matter if we're not tree shaking?

[2020-02-11 14:54] David-Else commented on #186
@lukastaegert Did you get a chance to look into this? @NotWoods needs some feedback to continue. The extension is mostly broken for me until this is addressed, and it is so near perfect :)

[2020-02-11 16:29] NotWoods commented on #186
Quick fix for now is to change the text of the file after fixing the type error, which updates the cache.

[2020-02-11 16:32] NotWoods commented on #154
I think we might want to, since we only use a subset of the validators. If we ship Joi in the plugins separately instead of any plugin using `pluginutils` then it's less important.

[2020-02-11 16:54] shellscape commented on #154
This may be a philosophical thing. I know that Rollup is big on shipping a small package. But these are, at the end of the day, devDeps that are never included in the final bundle from the consumer. I just can't see the importance of size of `pluginutils`. Besides, that can be shipped as an external / normal dependency, and there will (in theory) only ever be one instance of `@hapi/joi` on disk.

[2020-02-11 17:46] heynext commented on #61
any updates now?

[2020-02-11 17:49] heynext commented on #105
so any news on generating .d.ts files?

[2020-02-11 17:52] shellscape commented on #105
@heynext this is your second similar comment in a few minutes in this repo. Please don't post replies asking for updates, "is it done," or similar. Github links to related issues, pull requests, and commits within the issues. If there is related work, you will see those links.

[2020-02-11 18:17] NotWoods commented on #154
I was using bundlephobia to check, so I wasn't aware that superstruct is a similar size to joi (it looked much smaller). I'm convinced, let's use Joi.

[2020-02-12 07:24] lukastaegert commented on #186
The problem is that in case of error, the cache is not updated because no new cache object is created. Thus subsequent runs will use the outdated cache. This is a bug on Rollup side, but fixing it without completely disabling the cache in case of errors will require some thought. Essentially in case of errors, we still need to provide an updated cache. In the worst case we could attach it to the e

[2020-02-12 07:59] lukastaegert commented on #186
Created rollup/rollup#3386 to track on Rollup side.

[2020-02-13 05:57] lukastaegert commented on #186
Fix at rollup/rollup#3388

[2020-02-13 13:41] tetsuharuohzeki opened #208 "Support "exports" field in package.json"
- Rollup Plugin Name: @rollup/plugin-node-resolve
- Rollup Plugin Version: 7.1.1

### Feature Use Case

Bundle a package seamlessly which provides exports` field as an entry point.

### Feature Proposal

The `exports` field has been added to package.json to define an encapsulating entry points for Node.js ES Module supports.
https://nodejs.org/api/esm.html#esm_package_entry_points

This feature ha

[2020-02-13 13:52] arantes555 opened #209 "resolveOnly option prevent local file resolution"
- Rollup Plugin Name: node-resolve
- Rollup Plugin Version: 7.1.0 & 7.1.1
- Rollup Version: 1.31.0
- Operating System (or Browser): macOS
- Node Version: v13.7.0

### How Do We Reproduce?

[code]

### Expected Behavior

Using node-resolve 7.1.x with the `resolveOnly` option should prevent resolving other node modules, but should not prevent resolving local files.

### Actual Behavior

Using node-r

[2020-02-13 16:39] shellscape commented on #208
Thanks for opening a new feature request. This looks like it would be a significant amount of work to add support for.

I'd like to get a link added to a specification for this issue, but I cannot find any.

@lukastaegert this is a new development

My vote is to hold off until all LTS Node versions support this. That is not currently the case.

[2020-02-13 16:40] shellscape commented on #209
Thanks for reporting the issue. We'd be happy to review a PR that resolves this.

[2020-02-13 19:25] lukastaegert commented on #208
I agree. Nevertheless I recently stumbled across this myself, and I think we should start putting some thought into this soon, because it does not only have implications for node-resolve but also for commonjs. Basically this enables specifying different entry points for ESM imports and CJS requires. It would however be unclear, if and how the commonjs plugin would pick this up as well.

[2020-02-14 00:15] NotWoods opened #210 "Add fetch plugin for bundling absolute HTTPS urls"
Request Checklist:

- [x] I have searched https://npmjs.com/ before opening this issue
- [x] I have searched https://github.com/rollup/awesome before opening this issue

### New Plugin Use Case

### New Plugin Proposal

Projects like [Deno and Pika CDN](https://dev.to/pika/introducing-pika-cdn-deno-p8b) encourage importing modules from `https://` urls. It would be nice to be able to easily bundle

[2020-02-14 04:54] lukastaegert commented on #210
I think what you want is https://github.com/mjackson/rollup-plugin-url-resolve

[2020-02-14 04:58] saneyuki commented on #208
I seem this specification is defined in [_Resolver Algorithm_](https://nodejs.org/api/esm.html#esm_resolution_algorithm) section.

[2020-02-14 05:21] #186 closed

[2020-02-14 16:35] farhanRIT opened #211 "'onwrite' deprecated?"
Hi, I get this warning message when building my project:

(!) The "onwrite" hook used by plugin node-resolve is deprecated. The "generateBundle/writeBundle" hook should be used instead.

I am not really sure which node-resolve it uses.
But, based on my package: "rollup-plugin-node-resolve": "3.3.0"

- Rollup Plugin Name:
- Rollup Plugin Version:
- Rollup Version:
- Operating System (or Browser):
-

[2020-02-14 16:37] shellscape commented on #211
Thanks for opening an issue. Citing the issue template:

Ignoring the entire issue template is not OK. You're also using a deprecated npm package. Follow the instructions in the deprecation message to get the current package.

[2020-02-14 16:37] #211 closed

[2020-02-14 16:43] farhanRIT commented on #211
What do I need to do? I have 0 idea. First time posting

[2020-02-14 16:44] shellscape commented on #211
https://www.npmjs.com/package/rollup-plugin-node-resolve

[2020-02-14 16:58] farhanRIT commented on #211
Awesome thanks. So that is where the original package came from. npm search gave me this and thought this were the location for the deprecated package. Updated to this new package, and warning message is gone and glad that I don't have to change anything on my end.

[2020-02-14 18:18] #210 closed

[2020-02-16 14:06] sinisimattia opened #213 "@rollup/plugin-json: Unexpected token"
Hi everyone, I have a problem with @rollup/plugin-json

Basically it fails whenever I have "**:**" in my file.

**FAILS:**
[code]

**SUCCESS:**
[code]

[2020-02-16 14:11] shellscape commented on #213
Sorry, but we don't offer support here and our issue templates are required. If you believe this is a bug, please refile the issue following the issue template to the letter, including a proper reproduction

[2020-02-16 14:11] #213 closed

[2020-02-18 19:05] NotWoods commented on #205
I've done some investigation and I think that Rollup/acorn is having trouble parsing the new optional chaining syntax. If you set `target: 'es2020'` (so that Typescript compiles the syntax with a helper) the issue goes away.

[2020-02-19 08:18] bennypowers commented on #205
I was unable to reproduce this. I tried setting `target` both in tsconfig and in rollup config
[code]

[2020-02-19 08:57] k2snowman69 opened #215 "No longer outputs a full library"
- Rollup Plugin Name: @rollup/plugin-node-resolve
- Rollup Plugin Version: 7.1.0 & 7.1.1
- Rollup Version: 1.27.14
- Operating System (or Browser): OSX
- Node Version: 10.16.3

### How Do We Reproduce?
1. git clone https://github.com/k2snowman69/bug-rollup-node-resolve
2. cd bug-rollup-node-resolve
3. npm install
4. npm run build

### Expected Behavior
Can be seen after npm installing `@rollup/plu

[2020-02-19 12:41] David-Else opened #216 "No source map generated by TypeScript plugin when specified in tsconfig.json"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 3.0.0
- Rollup Version: 1.31.1
- Operating System (or Browser): Linux
- Node Version: 12

### How Do We Reproduce?

https://repl.it/repls/ElaborateStingyParallelport

Press run

### Expected Behavior
A sourcemap file should be generated in the output folder as it was `"sourceMap": true,` in the `tsconfig.json`

### Actual Beh

[2020-02-19 12:44] shellscape commented on #216
@David-Else thanks for the issue. Please see the issue template for instructions on providing a proper reproduction. What you've provided here is not, unfortunately.

[2020-02-19 12:48] shellscape commented on #215
@k2snowman69 thanks for opening an issue. Please try to distill your reproduction down further to a more minimal state. We encourage people to use the REPL option as that's minimal by default. Distilling your reproduction will help identify if the problem is inherent in a core plugin, rollup core, or a third party plugin / configuration.

[2020-02-19 13:03] David-Else commented on #216
@shellscape I spent a while on this, even making a script for you to make a complete environment to reproduce the issue.

Before I invest more time, please just quickly confirm that the plugin IS expected to create a sourcemap? Thanks.

[2020-02-19 13:13] shellscape commented on #216
While appreciated, we do have instructions in the issue template to keep people on track with what we need to triage. I highly recommend paying close attention to other project's templates in the future.

The simple fact is that our time and resources are limited, and having to setup an environment, versus a REPL or repo link, eats into the time we have available to triage for folks who have follo

[2020-02-19 16:34] David-Else commented on #216
@shellscape I have created this to demonstrate the bug:

https://repl.it/repls/ElaborateStingyParallelport

When I run it the file 'bundle.js' is created, but no sourcemap. Is this OK for you to remove the 'no reproduction' flag? I have edited the original post too.

[2020-02-19 17:04] NotWoods commented on #205
In that case it should start working in the next major version. I've been working on another rewrite to support .d.ts and I have optional chaining working there.

[2020-02-19 17:09] shellscape commented on #216
Apologies if you felt that label was derogatory. It's only for maintainers for at-a-glance statuses.

Thanks for putting that together. That's going to be a huge help.

[2020-02-19 17:32] David-Else commented on #216
@shellscape Don't worry, I did not think the label was derogatory, I just wanted to help get the bug fixed asap :)  Cheers, great plugin!

[2020-02-19 18:15] k2snowman69 commented on #215
@shellscape Thanks for getting back to me so quickly and thanks for the suggestion (it was late, wasn't thining fully).

After following your suggestion, I narrowed the problem down to the `resolveOnly` flag in node-resolve. I believe previously this flag only applied to external packages but since 7.1.0 seems to be including internal packages as well.

In the REPL how do I change the config being

[2020-02-19 22:42] NotWoods commented on #216
You also need to add `sourcemap: true` to the Rollup output options. I'll also work on adding a warning when the Typescript option is on but not the corresponding Rollup option.

[2020-02-21 14:54] tborychowski opened #219 "[node-resolve] hooks don't run"
- Rollup Plugin Name: node-resolve
- Rollup Plugin Version: 7.1.1
- Rollup Version: 1.31.1
- Operating System (or Browser): Macos
- Node Version: 12.13.0

### How Do We Reproduce?

I have a build task in [my repo](https://github.com/perfect-things/perfect-home/) that throws a bunch of console messages when I build stuff with rollup using that plugin.
I know this is not an error and stuff seem to w

[2020-02-21 17:48] shellscape commented on #219
@tborychowski thanks for the repo link, but I don't have the time to track down where your rollup config actually is there. Otherwise I might be able to point out where you went wrong. This is why we ask for minimal reproductions.

The message you've pasted is telling you that you're using `@rollup/plugin-node-resolve` as an output plugin, which it's not really designed to be, and several hooks th

[2020-02-21 17:48] #219 closed

[2020-02-21 19:23] k2snowman69 commented on #215
Just curious, is more information still needed or does my comment above provide context? Did you want me to edit the original description?

[2020-02-21 20:59] tborychowski commented on #219
my rollup config is very typical:
[code]
and there's nothing that would suggest how to fix this problem

[2020-02-23 11:35] sayjeyhi opened #223 "Get named export from folder name"
I have and input like this:
[code]
could I have named export for that folder name?

for example if I have `/packages/SOME_NAME/index.js'` I want to got `SOME_NAME.js` file or `SOME_NAME/index.js` file in output.

[2020-02-23 16:07] shellscape commented on #223
_If you are sure this is a bug, please take the time to refile this issue **using the issue template**._

Hey there, thanks for opening an issue - Unfortunately you missed (or may have disregarded) the message about issue templates being _required_. Because our issue template was removed, we assume that this is a support request, and that's not something we offer here. Also, if you refile, please

[2020-02-23 16:07] #223 closed

[2020-02-24 17:34] dkumor commented on #67
@hiendv yes, looks like that was the issue! If I understand correctly, this means there are two bugs here:
- vuetify has incorrect `sideEffects` setting for css files, which needs to be fixed on their end.
- plugin-replace silently fails when a file is loaded that is not in sideEffects, without giving any indication that something went wrong. I'm not sure *why* the file needs to be in sideEffects

[2020-02-24 22:26] joaoeudes7 opened #224 "Sucrase support to Vue"
- Rollup Plugin Name: @rollup/plugin-sucrase
- Rollup Plugin Version: 3.0.0

### Feature Use Case
Support to use transform typescript of code in files `.vue` as plugin works in rollup-plugin-typescript2

### Feature Proposal
Import in plugin in rollup config and generate bundle

[2020-02-25 03:04] hiendv commented on #67
@dkumor
- Not really vuetify problem because the translation of `sideEffects` vary between rollup and webpack. It works fine when bundling with webpack I believe.
- I don't have any idea about plugin-replace but I find it understandable to mark css files as "side-effects" so the tree-shaking works correctly.

[2020-02-25 07:10] dkumor commented on #67
oops, sorry - not plugin-replace, but node-resolve (edited comment to fix)! Thanks for your help in figuring out this problem @hiendv!

In general, I guess my issue can be boiled down to the fact that plugin-node-resolve is unable to import the explicitly referenced css if it is outside of sideEffects - and it does not notify of the error. The current behavior of silently failing caused me quite a

[2020-02-25 07:37] hiendv commented on #67
@dkumor I guess you should keep this issue open because of the difference between rollup and webpack on resolving "*.css* :D

[2020-02-25 10:10] darsain opened #225 "Subsequent runs on modified typescript code produce the same output"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 3.0.0
- Rollup Version: 1.31.1
- Operating System (or Browser): Win 10
- Node Version: 13.7.0

### How Do We Reproduce?

[code]

^ this function, when run subsequently, will produce the same `output.js` even when `input.ts` file has changed. It's like it remembers the file from 1st run and never reloads it.

Isolated reproduc

[2020-02-25 13:05] darsain opened #226 "Replace exclude option does nothing on its own"
- Rollup Plugin @rollup/plugin-replace
- Rollup Plugin Version: 2.3.1
- Rollup Version: 1.31.1
- Operating System (or Browser): Win 10
- Node Version: 13.7.0

### How Do We Reproduce?

https://repl.it/repls/ChiefUnselfishAssignments

### Expected Behavior

Replace plugin should ignore files matching `exclude` patterns.

### Actual Behavior

No matter how eager I make the `exclude` pattern, the out

[2020-02-25 14:55] zgagnon opened #227 "Unexpected token `function` in node module"
- Rollup Plugin Name: @rollup/plugin-commonjs
- Rollup Plugin Version: 11.0.2
- Rollup Version: 1.31.1
- Operating System (or Browser): MacOS
- Node Version: v12.13.0

### How Do We Reproduce?

Minimal repository link: https://github.com/zgagnon/rollup-depedency-bug-reproduce

run `yarn; yarn rollup`

### Expected Behavior

A file called `bundle.js` is produced. It bundles the `aws-xray-sdx-core`

[2020-02-27 01:03] bmv437 commented on #202
I'm actually experiencing the exact same error, and I'm glad it's not just me. Were you able to figure out a work-around?

[2020-02-27 09:55] tkalliom commented on #202
I used the `replace` plugin to change the code in question

[2020-02-27 19:36] tu4mo opened #232 "tslib doesn't have file extension"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 3.0.0
- Rollup Version: 1.31.1
- Operating System (or Browser): Mac
- Node Version: 12.16.1

### How Do We Reproduce?

Run Rollup with preserveModules.

### Expected Behavior

_virtual/_tslib has an .js extension.

### Actual Behavior

_virtual/_tslib does not have file extension.

[2020-02-27 19:37] shellscape commented on #232
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to reopen and triage further.

[2020-02-29 14:41] tu4mo commented on #232
@shellscape Here you go: https://repl.it/repls/OrdinaryDefiniteFormula

[2020-02-29 17:50] shellscape commented on #232
@NotWoods I reopened this as OP provided a repro

[2020-03-02 11:32] slavafomin commented on #70
I can confirm that the issue is still present. @NotWoods @shellscape do you have any progress with this? Maybe there is a way to use TypeScript compiler API to actually process the config as `tsc` does?

[2020-03-02 19:02] NotWoods commented on #70
Could you provide a REPL link with an example of what's failing? We are using the compiler APIs Typescript provides already. The upcoming 4.0.0 version should fix some more issues too.

[2020-03-02 22:14] lefta opened #235 "Application is not always ran"
- Rollup Plugin Name: plugin-run
- Rollup Plugin Version: 1.2.0
- Rollup Version: 1.32.0
- Operating System (or Browser): Linux
- Node Version: v12.16.1

### How Do We Reproduce?

I'm not going to make a repro this evening, this is ways too late and there should be enough informations below. I may try to do so on request somewhere in the week, if I find some time.

But this is simple : just make a

[2020-03-02 23:06] shellscape commented on #235
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-03 10:21] slavafomin commented on #70
Well, as others mentioned, I have a very simple setup with two `tsconfig.json` files, where one file is extending the other one. However, the compiler options are loaded only from the specified file. Options in the base config are getting totally ignored.

Are you using TypeScript compiler to load the config or are you loading it yourselves? I've tried to find a code that is responsible for loadin

[2020-03-03 18:26] NotWoods commented on #70
The examples in this issue all work now, so I would really appreciate the exact configuration you're using that doesn't work. I can't point to an exact location in the Typescript repo but we use the APIs provided by Typescript for parsing the configuration.

[2020-03-03 20:55] slavafomin commented on #70
I would have been glad to assist with this issue further, but we have had to switch to the `rollup-plugin-typescript2` due to the lack of some critical features in this plugin. Sorry about that… 😢

[2020-03-04 13:31] CSchulz opened #238 "(plugin typescript) Error: Couldn't compile - no more error details printed"
- Rollup Plugin Name: typescript
- Rollup Plugin Version: 3.0.0
- Rollup Version: 1.32.0
- Operating System (or Browser): Win 10
- Node Version: 12.16.1

### How Do We Reproduce?
https://repl.it/repls/CriminalQuestionableAbilities

### Expected Behavior
It should compile or give at least a helpful error.

### Actual Behavior
It fails without any helpful error.

I have tried to investigate the diag

[2020-03-04 15:35] Vehmloewff opened #239 "Plugin sucrase is not resolving directories"
- Rollup Plugin Name:  sucrase
- Rollup Plugin Version: 3.0.0
- Rollup Version: 1.32.0
- Operating System (or Browser): Ubuntu 19.10
- Node Version: 12.16.1

### How Do We Reproduce?

1. See the [repl](https://repl.it/@Vehmloewff/rollup-plugin-sucrase-no-resolve)
2. Click "run"
3. Yikes!

### Expected Behavior

It is expected that sucrase will resolve `./src` to `./src/index.ts` because `./src` is

[2020-03-05 08:25] Paosder commented on #204
Is there any workaround or progress for this? I'm stuck in here.

[2020-03-05 18:23] NickGlenn commented on #204
@Paosder Although not ideal, I've been using the original `rollup-plugin-typescript` module without issue. You may consider using that for the time being until this issue is resolved.

[2020-03-05 18:59] NotWoods commented on #204
Agreed. The next plugin version will be published soon (and is already on master).

[2020-03-05 20:31] NickGlenn commented on #204
@NotWoods This is exciting news, thanks to you and the team for working on this!

[2020-03-05 20:31] shellscape commented on #204
@NotWoods need me to cut a new release? (sorry, work has been murder lately)

[2020-03-05 20:33] NotWoods commented on #204
@shellscape Please do 😄 I sent you a list of updated plugins on Discord

[2020-03-05 20:40] shellscape commented on #204
Done

[2020-03-05 21:00] CSchulz commented on #238
Thanks for the hint. Is there any plan when 4.0 will be released or is there any existing workaround?

[2020-03-06 07:37] dstaley opened #243 "Unable to build TypeScript bundle when outDir is specified in tsconfig.json"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: v4.0.0
- Rollup Version: v1.32.0
- Operating System (or Browser): Windows 10
- Node Version: v12

### How Do We Reproduce?

https://repl.it/repls/EnchantingHatefulFunctions

### Expected Behavior

Module builds correctly

### Actual Behavior

[code]

It looks like this is because the paths stored in `emittedFileNames` don't m

[2020-03-06 16:12] shellscape commented on #243
Give v4.0.0 a shot. We had some issues with how 3.1.0 was published.

[2020-03-06 16:13] shellscape commented on #239
If you use surcase outside of Rollup, does it resolve the directories as expected?

[2020-03-06 16:15] shellscape commented on #224
We'd be happy to review a PR which added this support.

[2020-03-06 16:21] shellscape commented on #225
That jumps out at me as an issue with Gulp watch. I'd also recommend trying a script using `chokidar` directly (which is what Rollup uses). It looks like Gulp is simply forwarding on `glob-watcher` (https://github.com/gulpjs/gulp/blob/5667666ffae15c169f99c7096ca59c05f9440272/index.js#L6) which may be the culprit here. I think we're going to need your help in further distilling why this happens wit

[2020-03-06 16:36] NotWoods commented on #204
Fixed in version 4.0.0 of the typescript plugin

[2020-03-06 16:36] #204 closed

[2020-03-06 16:37] NotWoods commented on #232
Fixed in version 4.0.0 of the typescript plugin

[2020-03-06 16:37] #232 closed

[2020-03-06 16:37] NotWoods commented on #216
Waning added in version 4.0.0 of the typescript plugin

[2020-03-06 16:37] #216 closed

[2020-03-06 16:37] NotWoods commented on #205
Fixed in version 4.0.0 of the typescript plugin

[2020-03-06 16:37] #205 closed

[2020-03-06 16:38] NotWoods commented on #70
Fixed in version 4.0.0 of the typescript plugin

[2020-03-06 16:38] #70 closed

[2020-03-06 16:38] NotWoods commented on #61
Added in version 4.0.0 of the typescript plugin

[2020-03-06 16:38] #61 closed

[2020-03-06 17:08] dstaley commented on #243
@shellscape Just tested and the issue still occurs on 4.0.0.

[2020-03-06 17:14] lefta commented on #235
The best I could reproduce is this : https://repl.it/repls/LovingRecklessEquation

However, this is not my exact symptoms :
* Instead of a crash, I get nothing at all
* You will tell me that the plugins may be shifted. In my project, `run` is already the last one.

At least, this reproduction shows that a race condition is possible. Maybe the size of the bundle is a factor (mine is 7.8k uncompress

[2020-03-06 17:23] milobluebell opened #245 "TypeError: Cannot read property 'get' of undefined"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: ^3.0.0
- Rollup Version: ^1.32.0
- Operating System (or Browser): mac catalina
- Node Version: 10.16.3

### How Do We Reproduce?

### Expected Behavior
build my libaray correctly

### Actual Behavior
BUT, when:
[code]
is shown:
[code]

[2020-03-06 17:27] shellscape commented on #245
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

There are also newer versions of that plugin available.

[2020-03-06 17:27] #245 closed

[2020-03-06 18:39] darsain commented on #225
Gulp has nothing to do with this. It doesn't touch anything. As I've written above:

The scripts builder didn't accept any files from gulp. It was just running `rollup.rollup()` with typescript plugin whenever `input.ts` changed so that this was easy and comfy for you guys to test and replicate.

But alright, I've re-implemented the reproduction by stripping the gulp out completely, and now the bu

[2020-03-06 18:43] shellscape commented on #225
Perhaps you reacted before you digested all of that statement. Gulp === glob-watcher for all intents and purposes.

This is the outlier. We'll have to identify why this case doesn't have the problem. My guess is that there's a cache being invalidated.

[2020-03-06 21:00] NotWoods commented on #238
Out now!

[2020-03-06 21:00] #238 closed

[2020-03-06 21:04] NotWoods commented on #243
We've made some adjustments to the plugin and right now we're requiring that `outDir` be located within your Rollup output dir. Unfortunately the hook that checks this is run after the error is emitted. I'll try to fix this particular case where `emittedFileNames` and `emittedFiles` doesn't match.

[2020-03-06 21:28] Vehmloewff commented on #239
Yes

[code]

The resolve part for this plugin is done entirely 'in-house'.

https://github.com/rollup/plugins/blob/master/packages/sucrase/src/index.js#L14-L22

[2020-03-08 11:40] karolis-sh opened #246 "Incomplete rollup peerDependency semver"
I migrated from old plugin `rollup-plugin-commonjs` to `@rollup/plugin-commonjs`  and noticed that peer dependency semvers are different and displays false warnings.

## Previously

![image](https://user-images.githubusercontent.com/3521740/76162052-03efbb80-6142-11ea-8c78-24fdd40e4425.png)

## Now

![image](https://user-images.githubusercontent.com/3521740/76162029-d571e080-6141-11ea-8fd0-749665b

[2020-03-08 12:20] TrySound commented on #246
@karolis-sh it was not merged yet
https://github.com/rollup/plugins/pull/244

[2020-03-08 13:09] shellscape commented on #246
Thanks for reporting this and for the detailed info, but it's just a tad early. Closing in favor of #244.

[2020-03-08 13:09] #246 closed

[2020-03-09 00:20] danimoh commented on #61
For others also potentially struggling with this: For types to be emitted, you currently have to declare a `rootDir` in `tsconfig.json`. This is related to https://github.com/rollup/plugins/issues/243. Even though the compilation does not fail when using `declarationDir` instead of `outDir` this does also apply when using `declarationDir`.

Also have a look at the PR that implemented this feature

[2020-03-09 03:05] maniax89 opened #247 "Support multiple output targets with typescript declarations enabled"
- Rollup Plugin Name: `@rollup/typescript`
- Rollup Plugin Version: `4.0.0`

### Feature Use Case

I am coming from `rollup-plugin-typescript2` which seemed to allow setting `declaration: true` as well as supporting multiple `output` targets in the `rollup.config.js` like:

[code]

partial tsconfig.json:
[code]

This plugin seems to only allow setting a single output target with the `dir` attribut

[2020-03-09 03:12] NotWoods commented on #247
Does it work if you set two different `dir` options, or turn off declarations for the second output? `rollup-plugin-typescript2` achieves this by writing files directly instead of emitting Rollup assets, and I'd like to work around that if possible :)

[2020-03-09 03:23] maniax89 commented on #247
I can try the two dir options tomorrow. For turning off declarations for the second output, would I have to use a different configuration template to achieve that than what I have posted? Wasn't sure how to specify output-specific plugin options

[2020-03-09 03:31] NotWoods commented on #247
Oops, I wasn't thinking straight...you'd need to provide two configurations. That's not ideal but should work as a quick fix for now until we improve the plugin further.

[2020-03-09 09:20] matt3224 commented on #208
I just ran into a scenario where i'd need this, good to see it's already on the cards

[2020-03-09 10:45] danimoh opened #248 "plugin-virtual: fails for imports via require"
- Rollup Plugin Name: @rollup/plugin-virtual
- Rollup Plugin Version: 2.0.1
- Rollup Version: 2.0.2
- Operating System (or Browser): Fedora
- Node Version: 12.13.1

### How Do We Reproduce?

https://repl.it/repls/RegalIdioticMicrokernel

### Expected Behavior

Should replace import regardless of whether es6 `import` or `require` is used.

### Actual Behavior

`Error: 'virtual:the-answer' is import

[2020-03-09 16:52] dstaley commented on #243
@NotWoods So I just got around to adding `rootDir` to my `tsconfig`, and now get the following error:

[code]

`tslib` is correctly installed, and I confirmed that the referenced path exists, ,so I'm not sure what it's complaining about. (Also for the record, `src/base.ts` doesn't import `tslib` directly.)

[2020-03-09 17:56] Moeriki opened #249 "Second build fails when `incremental` set to `true`"
- Rollup Plugin Name: typescript
- Rollup Plugin Version: 4.0.0
- Rollup Version: 2.0.2
- Operating System (or Browser): macOS 10.15.3 (19D76)
- Node Version: 12.16.0

### How Do We Reproduce?

[code]

### Expected Behavior

Build succeeds two times.

### Actual Behavior

Build fails the second time.

### Work-around

[code]

Or set `compilerOptions.incremental` to `false`.

[2020-03-09 18:12] shellscape commented on #249
@Moeriki thanks for the issue. Please verify that this also happens when using NPM. NPM is our baseline in the project for issues and repo-based reproductions.

[2020-03-09 18:15] Moeriki commented on #249
Tested and verified the same issue with npm.

The issue though may be related to my compiler options. I'm still testing some things.

[2020-03-09 18:52] CSchulz opened #250 "(plugin typescript) TypeError: _a.close is not a function"
- Rollup Plugin Name: typescript
- Rollup Plugin Version: 4.0.0
- Rollup Version: 1.32.0
- Operating System (or Browser):
- Node Version: 10.16.0

### How Do We Reproduce?

https://repl.it/repls/CriminalQuestionableAbilities

### Expected Behavior
Should work and bundle all.

### Actual Behavior
Fails:

[code]

[2020-03-09 22:11] NotWoods commented on #250
`typescript` needs to be included as a dependency to use the plugin. Adding it to the package.json in the REPL fixes the issue.

[2020-03-09 22:11] #250 closed

[2020-03-10 04:52] stalniy commented on #119
I created a plugin which can fulfill the original request in the issue https://github.com/stalniy/rollup-plugin-legacy-bundle

It adds legacy build chunks to the original bundle, so they can be collected by standard rollup  HTML plugin

[2020-03-10 08:08] Moeriki commented on #243
May be related to #249.

I have [a reproduction repo](https://github.com/Moeriki/bug-rollup-ts-incremental) that can build with `outDir` configured.

[2020-03-10 13:18] chrkulbe opened #252 "fileName option with [dirname] dosent work correctly, if sourcedir is current file dir"
- Rollup Plugin Name: plugin-run
- Rollup Plugin Version: 4.0.1
- Rollup Version: 1.29.0
- Operating System (or Browser): Win/Unix/Chrome
- Node Version: 12.14.1

### How Do We Reproduce?

https://repl.it/repls/HorizontalConstantDaemons

new fixture/jpg.js + add jpg.jpg files to fixtures and a subfolder (see imports - copied pgn.png)
[code]

append to tests.js
[code]

result in output/bundle.js fo

[2020-03-10 13:21] shellscape commented on #252
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further. WIthout a proper reproduction we cannot derive tests that match the scenario you're working within, and we cannot issue a proper fix.

[2020-03-10 13:39] zeakd commented on #61
Thanks @danimoh very helpful.
Here's my rollup config to make [redux](https://github.com/reduxjs/redux/blob/master/rollup.config.js) style outputs.

- `output.dir` is required for `declaration: true` option.
- `declarationDir` folder should be inside `output.dir`.
- do not use `declaration` and `declarationDir` in **tsconfig.json**. `declarationDir` can't override using `@rollup/plugin-typescript`

[2020-03-10 14:14] chrkulbe commented on #252
hope the new test helps to reproduce the bug

[2020-03-10 14:29] shellscape commented on #252
We really appreciate you taking the time to report the issue and trace the cause. Really do. But the instructions for adding a proper reproduction could not be more clear. The maintainers here simply don't have the bandwidth to manually reconstruct a reproduction case, and that's why we ask issue reporters to do so. (There are a lot of issues from folks who have done that correctly) We cannot work

[2020-03-10 14:39] chrkulbe commented on #252
Ok. I will add a repl later from home.

- https://repl.it/@rollup/rollup-plugin-repro is partially block from office
- https://rollupjs.org/repl/ -> here i dont know how to add the url plugin and add folder structure to reproduce the failure

[2020-03-11 06:47] chrkulbe commented on #252
https://repl.it/repls/HorizontalConstantDaemons

hope that helps :o)

[2020-03-11 13:20] houd1ni opened #253 "Upgrade from 3.0.0 to 4.0.0 crashes a build"
- Rollup Plugin Name: typescript-plugin
- Rollup Plugin Version: 4.0.0
- Rollup Version: at least both 1.31.1 and 2.0
- Operating System (or Browser): window 10 latest
- Node Version: 13.x

I get the weird error after upgrade:
[code]

### How Do We Reproduce?
The plugin receives no config and I could not find any correlations with tsconfig. From not common is only that the project uses vue-plugin.

[2020-03-11 14:43] shellscape commented on #252
Thanks!

[2020-03-11 15:40] paulrostorp opened #254 "Plugin-typescrip v4.0.0 JSX Error"
The plugin fails to compile jsx (react), getting this error:
`[!] Error: Unexpected token (Note that you need plugins to import files that are not JavaScript)`

- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 4.0.0
- Rollup Version: 2.0.3
- Operating System (or Browser): Mac os v 10.15.3
- Node Version: 12.13.1

### How Do We Reproduce?

https://repl.it/repls/CornsilkShiny

[2020-03-11 15:57] shellscape commented on #254
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-11 15:58] shellscape commented on #253
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-11 15:58] #253 closed

[2020-03-11 16:30] paulrostorp commented on #254
@shellscape https://repl.it/repls/CornsilkShinyRule

[2020-03-11 22:21] karolis-sh opened #255 "Typescript watcher cannot recover"
- Rollup Plugin Name: `@rollup/plugin-typescript`
- Rollup Plugin Version: `4.0.0`
- Rollup Version: `2.0.3`
- Operating System (or Browser): mac
- Node Version: `10.15.0`

### How Do We Reproduce?

Running rollup in watch mode with typescript plugin if the typescript code is invalid the watcher breaks and exits with exit code 1. This make it impossible to re-build the code on code changes - you n

[2020-03-12 02:33] shellscape commented on #255
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-12 02:33] #255 closed

[2020-03-12 04:29] NotWoods commented on #255
You should also use the `noEmitOnError` option to only warn, rather than error.

[2020-03-12 10:56] camille-hdl opened #256 "Undefined browser export"
- Rollup Plugin Name: plugin-node-resolve
- Rollup Plugin Version: 7.1.1
- Rollup Version: 2.0.5
- Operating System (or Browser): Chrome 80
- Node Version: 13.7

### How Do We Reproduce?

Everything is in this repo : https://github.com/camille-hdl/rollup-node-resolve-bug-yaml

### Expected Behavior

browser export of `yaml` is defined and accessible by
[code]

### Actual Behavior

[code]

The READ

[2020-03-12 17:25] juliovedovatto opened #257 "Update @rollup/pluginutils peerDependency"
- Rollup Plugin Name: @rollup/pluginutils
- Rollup Plugin Version: 3.0.8 (latest)
- Rollup Version: 2.0.3
- Operating System (or Browser): Any
- Node Version: 13

### How Do We Reproduce?

* Install rollup@latest
* install @rollup/pluginutils@latest

### Expected Behavior

No warnings

### Actual Behavior

Showing the following Warning

[code]

Since rollup new version (2.0.0) was released 6 days

[2020-03-12 19:55] karolis-sh opened #258 "Watch mode cannot recover with typescript"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 4.0.0
- Rollup Version: 2.0.3
- Operating System (or Browser): mac
- Node Version: 10.15.0

Running rollup in watch mode with typescript plugin if the typescript code is invalid the watcher breaks and exits with exit code 1. This make it impossible to re-build the code on code changes - you need to re-start the command every

[2020-03-12 19:59] shellscape commented on #257
Thanks, we're aware of the release. We'll be updating as we have time. Please feel free to submit PRs as well!

[2020-03-12 19:59] #257 closed

[2020-03-13 12:08] etroynov commented on #205
I use v4.0.0 and problem still exist :(

[2020-03-13 12:11] daviddelusenet commented on #243
For me this is happening because I want to emit declaration files. When I add `        "outDir": ""` to my `tsconfig.json` I get the following error:

[code]

[2020-03-13 12:24] rek commented on #254
I am also getting this error. Did you find any resolution yet? I have a simple config only using plugin-typescript.

[2020-03-13 14:14] etroynov commented on #205
i found the solution, in tsconfig i change:

target esnext -> es2019

For some reason optional chaining does not work with 2020, esnext targets.

[2020-03-13 21:41] numfin commented on #254
@paulrostorp if i remove outDir from your tsconfig - everything is fine

[2020-03-13 22:30] domoritz opened #259 "Support rollup 2 for all plugins"
It would be great if all rollup plugins officially supported rollup v2.

[2020-03-13 22:31] shellscape commented on #259
Closed, for many reasons.

[2020-03-13 22:31] #259 closed

[2020-03-14 01:16] danimoh commented on #258
Currently you have `noEmitOnError: true` in your project setup. Have you tried `noEmitOnError: false` to let typescript emit stuff even on errors instead of failing?

[2020-03-14 01:56] danimoh opened #260 "Typescript plugin creates sourcemaps with sourcesContent null"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 4.0.0
- Rollup Version: 2.0.6
- Operating System: repl
- Node Version: 10.19.0 (repl)

### How Do We Reproduce?

https://repl.it/repls/AmpleDirtyContent (I like the name :smiley: )

### Expected Behavior

Should include original typescript source code as `sourcesContent` in sourcemaps.

### Actual Behavior

`sourcesContent` i

[2020-03-14 07:16] karolis-sh commented on #258
@danimoh yes, it has no effect.

[2020-03-14 15:11] numfin commented on #205
@etroynov it is a problem in rollup, not in typescript

[2020-03-14 15:13] numfin commented on #205
@NotWoods it should be possible to use optional chaining without other compilers

[2020-03-14 15:19] shellscape commented on #205
@numfin please combine multiple successive replies so we keep the notifications down.

[2020-03-15 11:12] yangmingshan opened #263 "Typescript plugin compatibility with rollup 2.0"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: v4.0.0

### Expected Behavior / Situation
Work fine with `rollup` v2.0

### Actual Behavior / Situation
Warning: @rollup/plugin-typescript@4.0.0" has incorrect peer dependency "rollup@^1.20.0".

### Modification Proposal
Is `@rollup/plugin-typescript` v4.0.0 compatible with `rollup` v2.0? If so, `peerDependencies` field needs

[2020-03-15 11:19] yangmingshan opened #264 "Replace plugin compatibility with rollup 2.0"
- Rollup Plugin Name: @rollup/plugin-replace
- Rollup Plugin Version: v2.3.1

### Expected Behavior / Situation
Work fine with rollup v2.0

### Actual Behavior / Situation
Warning:
@rollup/plugin-replace@2.3.1" has incorrect peer dependency "rollup@^1.20.0".
@rollup/plugin-replace > @rollup/pluginutils@3.0.8" has incorrect peer dependency "rollup@^1.20.0".

### Modification Proposal
Is `@rollup/pl

[2020-03-15 11:28] yangmingshan opened #265 "Remove `tslib` from peerDependencies of typescript plugin"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: v4.0.0

### Expected Behavior / Situation
No warning.

### Actual Behavior / Situation
Warning: @rollup/plugin-typescript@4.0.0" has unmet peer dependency "tslib@*".

### Modification Proposal
`tslib` is optional, I may not need it. It should not be used as a peer dependency.

[2020-03-15 12:06] shellscape commented on #264
Please search before opening new issues. There is an open PR to address this.

[2020-03-15 12:06] #264 closed

[2020-03-15 12:06] shellscape commented on #263
Please search before opening new issues. There is an open PR to address this.

[2020-03-15 12:06] #263 closed

[2020-03-15 17:41] LarsDenBakker opened #350 "Chunk hash based on source code when using generated"
When using v5's `.generated` option, the chunk hashes are based on the the original source code rather than the babel output. This can be problematic when changing the babel config or when plugins update to fix bugs.

I'm not sure if it is possible for generate/output plugins to change chunk hashes?

[2020-03-15 18:25] FbN opened #266 "Undefined exported __moduleExports"
- Rollup Plugin Name: @rollup/plugin-commonjs
- Rollup Plugin Version: 11.0.2
- Rollup Version: 1.32.1
- Operating System (or Browser): Arch Linux
- Node Version: v12.16.1

### How Do We Reproduce?
Not really sure. Try to roll a mix of ES6 modules and CJS modules that require named export '__moduleExports' when your main package.js has "type": "module".

In my projectI was using snowpack (https://

[2020-03-15 18:56] shellscape commented on #266
Please provide a reproduction as per the instructions in the issue template. Otherwise we cannot help.

[2020-03-15 19:13] lukastaegert commented on #266
I think I have seen this error when an entry point that is CJS is imported by a file that ends up in another chunk.

[2020-03-15 20:56] niklasgrewe opened #267 "Require is not defined"
- Rollup Plugin Name: commonjs
- Rollup Plugin Version: 11.0.2
- Rollup Version: 2.0.6
- Operating System (or Browser): Chrome
- Node Version: 12.16.1

### How Do We Reproduce

1. download the repo: [sapper-scrollscene](https://github.com/niklasgrewe/sapper-scrollscene)
2. run npm install
3. run npm run dev
4. open developer console in chrome

### Expected Behavior

I can use the Plugin [ScrollSce

[2020-03-15 21:12] shellscape commented on #267
Thanks for opening an issue. We're going to need you to distill that reproduction down to something [minimal](https://git.io/fNzHA) in order to triage from our end. Alternatively, we'd welcome additional triage from your end (and/or even an accompanying PR!)

[2020-03-15 21:21] shellscape commented on #265
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-15 21:21] #265 closed

[2020-03-16 04:29] NotWoods commented on #265
We force the use of tslib to avoid duplicate code in the bundle. The relative Typescript compiler settings are always used. Without it, the tslib helpers would be copied for each .ts file that uses them.

It's possible all your files don't utilize any helpers, but this is an edge case where you can just choose to ignore the warning.

[2020-03-16 04:51] lukastaegert commented on #266
The error occurs in fact as soon as an entry point that is CJS is imported by a module in the graph. Self-imports count as well. Repro here: https://repl.it/@lukastaegert/rollup-plugin-repro

[2020-03-16 09:12] jharris4 commented on #264
I just searched for the open PR you mention, and if it exists it's not easy to find. A link would be helpful!

[2020-03-16 09:50] yangmingshan commented on #264
Opening an issue may help users search.

[2020-03-16 10:11] TrySound commented on #264
![image](https://user-images.githubusercontent.com/5635476/76745911-ad106480-6787-11ea-94ef-2f0c914dd20b.png)

[2020-03-16 11:02] jharris4 commented on #264
@TrySound what are you trying to show in this screenshot?

[2020-03-16 11:13] TrySound commented on #264
How "not easy" to find.

[2020-03-16 11:13] niklasgrewe commented on #267
I added a reproduction on Svelte RPL, hope this will help you:

https://svelte.dev/repl/3f8df9b044f94936b120465a687b3d35?version=3.20.0

[2020-03-16 11:35] jharris4 commented on #264
Lol, I can't tell if you're being sarcastic?! Anyway, none of those PRs mentions the peer dependencies in case you were saying it **is easy** to find.

[2020-03-16 11:40] shellscape commented on #267
Unfortunately we don't have the bandwidth to learn and triage with svelte. We could certainly use a few more volunteers. If you can get this distilled to a minimal reproduction with just rollup, we'll be happy to reopen and look into it further.

[2020-03-16 11:40] #267 closed

[2020-03-16 11:54] TrySound commented on #264
I meant exactly this pr https://github.com/rollup/plugins/pull/244
If you look at the code it's full of peer dependencies updates. It's exactly what you asked about.

[2020-03-16 12:17] FbN commented on #266
Thank you @lukastaegert for the clarification and test. Do you think my patch is a good solution or may cause collateral damages?

[2020-03-16 22:37] k2snowman69 commented on #215
Closing to clear my system up. My solution was move to webpack.

[2020-03-16 22:37] #215 closed

[2020-03-17 11:41] benmkw opened #269 "rust wasm-pack compatibility"
- Rollup Plugin Name: wasm
- Rollup Plugin Version: ^3.0.0
- Rollup Version: ^1.20.0
- Operating System (or Browser): Version 1.4.96 Chromium: 80.0.3987.132 (Official Build) (64-bit)
- Node Version: v13.11.0

### How Do We Reproduce?

### Expected Behavior
bundling wasm created using wasmpack https://rustwasm.github.io/wasm-pack/book/

Note:
I used the rollup config from the default svelte [templa

[2020-03-17 15:21] wilomgfx commented on #254
If I do that, I get the following error

`(plugin typescript) Error: @rollup/plugin-typescript: 'outDir' or 'declarationDir' must be specified to generate declaration files.`

I had to use https://github.com/ezolenko/rollup-plugin-typescript2 for now

[2020-03-17 22:28] zxc122333 opened #270 "Plugin-typescript lost d.ts when export interface only"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 4.0.0
- Rollup Version: 2.0.6
- Operating System (or Browser): macOS 10.14.2
- Node Version: 12.3.1

### How Do We Reproduce?

https://repl.it/@zxc122333/rollup-typescript-interface

### Expected Behavior

Should emit all declaration files, even if the source file export interface only.

### Actual Behavior

If a typescript s

[2020-03-18 02:19] Tylerian commented on #247
I'm also facing this same issue, what do you mean by using two configurations @NotWoods?
Can you show us a quick example?

[2020-03-19 01:14] Tylerian commented on #258
As stated on plugin readme, it ignores the `noEmitOnError` property defined in `tsconfig.json`.
You must add `noEmitOnError: false` on plugin setup. See example below:

[code]

[2020-03-19 14:08] karolis-sh commented on #258
@Tylerian yeah, you're right `typescript({ noEmitOnError: false })` makes the plugin usable in development mode.

Though I feel this should be enabled by default in watch mode, otherwise it's rather unintuitive.

[2020-03-19 14:11] #258 closed

[2020-03-19 14:33] Tylerian commented on #258
Yeah, I agree with that too. Perhaps you can open a new Feature Request so the maintainers can discuss this with you and hopefully agree to add it to the plugin.

[2020-03-19 14:55] karolis-sh opened #272 "Typescript noEmitOnError in watch mode"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 4.0.0

### Feature Use Case

Using rollup in watch mode, the TS compiler shouldn't break the watcher with default options.

Now you need to add `typescript({ noEmitOnError: false })` in `rollup.config.js` for the watcher to work properly.

### Feature Proposal

https://github.com/rollup/plugins/tree/master/packages/typescript

[2020-03-19 17:51] NotWoods commented on #272
Agreed, the program should also obey `noEmitOnError` if specified in the tsconfig.

[2020-03-19 20:42] gwynjudd opened #273 ""ReferenceError: window is not defined" when using @rollup/plugin-commonjs making service worker"
- Rollup Plugin Name: @rollup/plugin-commonjs
- Rollup Plugin Version: 10.1.0
- Rollup Version: 2.1.0
- Operating System (or Browser): Chrome
- Node Version: v10.16.3

### How Do We Reproduce?

package.json:

[code]

rollup.config.js:

[code]

asdf.js:

`import { cachePolyfill as _caches } from "cache-polyfill";
`

### Expected Behavior

To generate a service worker that can be installed and runs.

[2020-03-19 23:37] chovy opened #274 "Is it possible to replace FOO in index.html?"
Index.html isn't bundled but I want to set <title>MY_TITLE</title> from process.env.MY_TITLE.

is that possible?

[2020-03-20 02:28] #274 closed

[2020-03-20 02:28] shellscape commented on #274
_If you are sure this is a bug, please take the time to refile this issue **using the issue template**._

Hey there, thanks for opening an issue - Unfortunately you missed (or may have disregarded) the message about issue templates being _required_. Because our issue template was removed, we assume that this is a support request, and that's not something we offer here. Also, if you refile, please

[2020-03-20 02:29] shellscape commented on #273
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-20 02:29] #273 closed

[2020-03-20 02:47] chovy commented on #274
It's not a bug its a question.

[2020-03-20 06:11] ziofat commented on #260
A workaround is add `"inlineSources": true,` to your `tsconfig.json`.

This is because typescript compiler generated sourcemap uses path instead of content of your code. It seems rollup cannot process them. `inlineSources` will force compiler to emit the source contents alongside the sourcemaps within a single map file which rollup can work with it.

[2020-03-21 00:03] 0biWanKenobi opened #277 "plugin-node-resolve: make generated node-modules folder path customizable"
- Rollup Plugin Name: plugin-node-resolve
- Rollup Plugin Version: 7.1.1

### Feature Use Case

I'm currently building a chrome extension, but this can be generalized as:
- having the entry point nested in one or more subfolders
- wanting to preserve node modules as separate files
- wanting to preserve source folder tree
- wanting node_modules folder to be in a specific location (will detail this

[2020-03-21 18:00] YogliB commented on #205
This is still a thing...
[code]

[2020-03-21 23:21] unre4l opened #278 "@rollup/plugin-legacy npm package not found"
- Rollup Plugin Name: @rollup/plugin-legacy
- Rollup Plugin Version: latest
- Rollup Version: -
- Operating System (or Browser): Ubuntu 19.10
- Node Version: 12.16.1 (npm 6.13.4, yarn 1.22.4)

### How Do We Reproduce?

Run suggested install script from plugin's readme:

[code]

### Expected Behavior

Finds and installs npm module.

### Actual Behavior

[code]

Screen from repo page:

![image](http

[2020-03-22 11:32] maslade commented on #250
For anyone else stuck on this -- I encountered the same error message in my project that I was able to fix by upgrading Typescript from 3.3 to 3.8:

[code]

My project has a lot of other stuff in it so I'm not confident this was "the issue", but might help someone. I notice the peer dependencies for plugin-typescript only ask for Typescript >= 2.1.

[2020-03-22 18:43] chovy commented on #274
I was able to do it with `import replaceHtmlVars from 'rollup-plugin-replace-html-vars';`

[code]

[2020-03-23 00:09] shellscape commented on #278
Thanks for reporting. Just published it.

[2020-03-23 00:09] #278 closed

[2020-03-23 15:40] masx200 opened #279 "Add a typescript declaration file for rollup-plugin-babel.？"
- Rollup Plugin Name:  rollup-plugin-babel
- Rollup Plugin Version:4.4.0

### Feature Use Case

Cannot find type declaration file

'@types/rollup-plugin-babel'

### Feature Proposal

Add a typescript declaration file for rollup-plugin-babel.？

[2020-03-23 16:43] shellscape commented on #279
Sorry, but that plugin is not yet part of this repo. Please open an issue here: https://github.com/rollup/rollup-plugin-babel

[2020-03-23 16:43] #279 closed

[2020-03-23 22:18] numfin commented on #254
@wilomgfx it's working without declarations.  I'am using typescript2 too btw. It's a lot more stable for me.

[2020-03-25 19:39] madhudskumar opened #282 "Expected fileName to be present in command line"
- Rollup Plugin Name: @rollup/plugin-typescript
- Rollup Plugin Version: 4.0.0
- Rollup Version: 1.23.1
- Operating System (or Browser): mac
- Node Version: 10.16.3

### How Do We Reproduce?
use the same plugin to bundle any .ts/.tsx file it throws an error
[code]

### Expected Behavior
should ideally find the file

### Actual Behavior
unable to find the file

[2020-03-25 19:52] shellscape commented on #282
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-25 19:52] #282 closed

[2020-03-26 11:13] benmkw commented on #269
I removed svelte from the equation thus the bundle.js is now really small.
The missing piece seems to be support for `import await foo from bar`.
Unfortunately I have not yet figured out if `import await` is a thing thats standardized/ likely be supported by rollup thus not sure how to go from here.

As can be seen in https://github.com/webpack/webpack/tree/master/examples/wasm-simple this would m

[2020-03-26 13:03] MR-L-2015 commented on #243
before bug fixed, use rollup-plugin-typescript2 instead. Works good.

rollup-plugin-typescript2 - npm
https://www.npmjs.com/package/rollup-plugin-typescript2

[2020-03-26 15:01] dilyanpalauzov opened #283 "Bad link in packages/node-resolve/README.md"
https://github.com/rollup/plugins/tree/master/packages/node-resolve#using-with-rollupplugin-commonjs says:

The latter is a hyperlink to https://github.com/rollup/plugins/packages/commonjs, but this destination does not exist.  It should be https://github.com/rollup/plugins/tree/master/packages/commonjs.

[2020-03-26 15:15] shellscape commented on #283
Sorry, but Issue templates are not optional in this repo. If you would like us to consider this issue, please fill out the appropriate template.

[2020-03-26 15:15] #283 closed

[2020-03-26 16:13] dilyanpalauzov commented on #283
I have not realized that the process is that cumbersome.  I do not want, that you consider anything.

[2020-03-26 18:40] shellscape commented on #283
Well I guess we can make this more straightforward:

  type, we'll close it as invalid faster than you can spell 'Mississippi'.

Failure to read the warnings in the issue templates are not the fault of the maintainers of the project. Thousands of prior contributors and amazing folks have used the issue templates to report an issue without anything being "cumbersome." There's just no excuse for dis

[2020-03-26 19:36] NotWoods commented on #247
@Tylerian something like:
[code]

I'm working on updating the plugin so `dir: undefined` + `declaration: true` just results in the declaration files being ignored.

[2020-03-26 19:39] slnovak opened #285 "Publish node-resolve to allow using Rollup 2."
- Rollup Plugin Name: plugin-node-resolve
- Rollup Plugin Version: 7.1.1

### Feature Use Case
7.1.1 has a dependency on Rollup @ [^1.29.0](https://github.com/rollup/plugins/blob/node-resolve-v7.1.1/packages/node-resolve/package.json#L62). After #244 ("Audit for Rollup@2.0.0"), the dependency was bumped to [^1.20.0||^2.0.0](https://github.com/rollup/plugins/blob/master/packages/node-resolve/packag

[2020-03-26 20:32] NotWoods commented on #254
Quick fix for now is to manually set your `rootDir` compiler option to `"src"`. I'll keep working on fixing the default behavior.

[2020-03-26 21:00] shellscape commented on #285
Thanks for opening an issue. Plugins are published as maintainers have the chance. Please hold tight.

[2020-03-26 21:00] #285 closed

[2020-03-26 22:53] benmkw commented on #269
as mentioned in https://github.com/rustwasm/wasm-pack/issues/699#issuecomment-604727328 fixed by other wasm rollup plugin which is specifically designed for rust interop https://github.com/wasm-tool/rollup-plugin-rust

[2020-03-26 22:53] #269 closed

[2020-03-26 23:50] shellscape commented on #269
Thanks. I've added that plugin to our awesome list: https://github.com/rollup/awesome/commit/d5826ee11de18d2d800836114c02543cb8f69a32

[2020-03-27 01:52] slnovak commented on #285
Thanks! I appreciate all the hard work that library maintainers have be doing to bring Rollup up to 2.0. Sorry for the noise!

[2020-03-27 16:08] Robula opened #286 "Typescript plugin fails on files referenced outside of working directory"
- Rollup Plugin Name: `@rollup/plugin-typescript`
- Rollup Plugin Version: `4.0.0`
- Rollup Version: `2.2.0`

### How Do We Reproduce?
https://repl.it/repls/SilkyDesertedAlphatest

### Expected Behavior
I expect Rollup to bundle all the referenced files.

### Actual Behavior
Rollup fails to bundle files that require going up from pwd.

As a side note, I don't have this issue with `@rollup/plugin-s

[2020-03-27 18:16] Robula commented on #286
I have been digging through the plugin code and I think what it needs is for the user to be able to pass in a custom resolver to `pluginutils.createFilter(include, exclude, options)`; currently `getPluginOptions` only passes through `include` and `exclude` but what it needs to do is also pass through `options` so can configure the `resolutionBase` in `pluginutils.createFilter` because it currently

[2020-03-27 21:31] shellscape commented on #286
Tagged this both bug and enhancement because it kind of has one foot in each.

[2020-03-28 13:13] hasangenc0 opened #287 "Typescript plugin 4.0.0 Error: Unexpected token (Note that you need plugins to import files that are not JavaScript)"
- Rollup Plugin Name: typescript
- Rollup Plugin Version: 4.0.0
- Rollup Version: 2.2.0
- Operating System (or Browser): macOsx
- Node Version: 10.16.3

### How Do We Reproduce?
[code]

### Expected Behavior
[code]

### Actual Behavior
[code]

I hope I'm doing something wrong because it is so bad to cant use ts plugin.
Ts plugin version 3.0.0 works perfect by the way.

[2020-03-28 13:16] shellscape commented on #287
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-30 06:58] bennypowers commented on #203
I'm able to avoid this error with:
[code]

[2020-03-30 10:08] JohanSchobben commented on #287
I have the same error and made a small project to reproduce the error [(see this project)](https://github.com/JohanSchobben/ts-rollup-reproduction)

[2020-03-30 10:56] matt3224 commented on #203
@bennypowers It seems that your workaround is good, will shout if i run into anything.

Thanks!

[2020-03-30 12:49] JohanSchobben commented on #287
I switched back to @rollup/plugin-typescript version 3.1.1. In this version I don't have the problems. I use tsc to make the declarations.

[2020-03-30 13:01] shellscape commented on #287
Thanks for the reproduction @JohanSchobben

[2020-03-30 14:54] sssylvan commented on #287
try to create a .ts file in the root ...
I resolved it by this ...

[2020-03-30 14:59] sssylvan commented on #287
Quick fix for now is to manually set your rootDir compiler option to "src".

[2020-03-31 10:56] johannes-z opened #290 "Resolved path to babel runtime helpers is broken in Windows"
- Rollup Plugin Name: @rollup/plugin-commonjs (or @rollup/plugin-node-resolve)
- Rollup Plugin Version: ^11.0.2 (^7.1.1)
- Rollup Version: ^2.3.1
- Operating System (or Browser): Windows 10
- Node Version: 11.13.0

### How Do We Reproduce?

[code]

### Expected Behavior

Successful build and runable file.

### Actual Behavior

Adding `commonjs` to the plugin section breaks the final build, because

[2020-03-31 11:26] shellscape commented on #290
Thanks for opening an issue. Citing the issue template:

Please add a reproduction and we'll be happy to triage further.

[2020-03-31 11:48] johannes-z commented on #290
This is a commercial project where I'm using rollup. I can share a private repo as reproduction to an assignee.

[2020-03-31 11:55] shellscape commented on #290
@johannes-z a private repo would not be a minimal reproduction. Please read the provided link on #2 for instructions for a minimal repo. Alternatively, you can use one of the REPLs to reconstruct a minimal reproduction.

[2020-03-31 12:11] johannes-z commented on #290
@shellscape Sorry, must have read over it. I created a repro here: https://github.com/johannes-z/rollup-yarn-path-error

While creating the repro I found out that this has to do with yarn's monorepo symlinking. Without the monorepo rollup builds the bundle correctly.

See https://github.com/johannes-z/rollup-yarn-path-error/blob/master/packages/core/dist/bundle.js#L2-L5

[2020-03-31 12:24] shellscape commented on #290
Thanks for the repo. Because this is specific to yarn, please open an issue with the yarn project and ask them for help to resolve. (We use `pnpm` in this repo and have no issues with `plugin-commonjs` and the way it performs symlinking) We'll leave this open until that issue has a resolution. Please make sure to link back to this one for tracking.

[2020-04-01 01:19] gwardwell commented on #243
@dstaley I'm experiencing a similar error when trying to use this plugin with Vue.js single file components. Did you find a workaround?

[code]

[2020-04-01 07:21] MrJohz opened #293 "Plugins have incorrect peerDependency fields"
- Rollup Plugin Name: node-resolve (at least, probably others as well)
- Rollup Plugin Version: 7.1.1
- Rollup Version: 2.3.0
- Operating System (or Browser): Linux
- Node Version: v13.7.0

### How Do We Reproduce?

[Repl.it link](https://repl.it/repls/DishonestMajesticRectangles)

Or run these commands in a fresh temp directory:

[code]

(That's basically the same as what the Repl.it link does.)

[2020-04-01 08:04] shellscape commented on #293
that's not a bug. there's a PR which updated them and some haven't been published as yet. please exercise patience.

[2020-04-01 08:04] #293 closed

[2020-04-01 20:21] crfrolik commented on #293
Is there anything we can do to help move this along? It looks like the PR was merged but all that remains is to publish them.

[2020-04-02 19:22] MichielLeyman opened #294 "Replace plugin: Unexpected token when using "process" plain text in Svelte"
- Rollup Plugin Name: replace
- Rollup Plugin Version: 2.3.1
- Rollup Version: 1.20.0
- Operating System (or Browser): Fedora 31
- Node Version: 10.16.3

### How Do We Reproduce?

https://repl.it/repls/ScarceOverjoyedRoute

### Expected Behavior

Using the plaintext "process" should not stop the application from compiling. Every time I use "process" in the HTML section of a `.svelte` file, things